.background-yellow-1{background:#FFFD37;}/*Sunshine Yellow*/
.background-yellow-2{background:#FFEF00;}/*Canary Yellow*/
.background-yellow-3{background:#FDFF00;}/*Lemon Yellow*/
.background-yellow-4{background:#DAA520;}/*Goldenrod*/
.background-yellow-5{background:#F4C430;}/*Saffron*/
.background-yellow-6{background:#E4D00A;}/*Citrine*/
.background-yellow-7{background:#D2B55B;}/*Trombone*/
.background-yellow-8{background:#FFFFE0;}/*Light Yellow*/
.background-yellow-9{background:#FFFACD;}/*Lemon Chiffon*/
.background-yellow-10{background:#EEDC82;}/*Flax*/
.background-yellow-11{background:#FAFAD2;}/*Light Goldenrod*/
.background-yellow-12{background:#EEE8AA;}/*Pale Goldenrod*/
.background-yellow-13{background:#F0E68C;}/*Light Khaki*/
.background-yellow-14{background:#FCE883;}/*Clover Lime*/
.background-yellow-15{background:#EEED09;}/*Xanthic*/
.background-yellow-16{background:#FADA5E;}/*Royal Yellow*/
.background-yellow-17{background:#FFFFCC;}/*Cream*/
.background-yellow-18{background:#FFD700;}/*Gold*/
.background-yellow-19{background:#EED202;}/*Safety Yellow*/
.background-yellow-20{background:#F8E473;}/*Laguna*/
.background-yellow-21{background:#E8AC41;}/*Hunyadi Yellow*/
.background-yellow-22{background:#FFFD01;}/*Bright Yellow*/
.background-yellow-23{background:#EEEA62;}/*Greenish Yellow*/
.background-yellow-24{background:#CFFF04;}/*Neon Yellow*/
.background-yellow-25{background:#D5B60A;}/*Dark Yellow*/
.background-yellow-26{background:#E2CA76;}/*Sand*/
.background-yellow-27{background:#FFDA03;}/*Sunflower*/
.background-yellow-28{background:#FCE205;}/*Bumblebee*/
.background-yellow-29{background:#FFFD74;}/*Butter*/
.background-yellow-30{background:#FFE36E;}/*Yellow Tan*/
.background-yellow-31{background:#FFD300;}/*Cyber Yellow*/
.background-yellow-32{background:#FFE135;}/*Banana*/
.background-yellow-33{background:#FCD12A;}/*Tuscany*/
.background-yellow-34{background:#FFC30B;}/*Honey*/
.background-yellow-35{background:#C49102;}/*Dijon*/
.background-yellow-36{background:#FFBF00;}/*Amber*/
.background-yellow-37{background:#F5F5DC;}/*Beige*/
.background-yellow-38{background:#FEDC56;}/*Mustard*/
.background-yellow-39{background:#FAFA37;}/*Maximum Yellow*/
.background-yellow-40{background:#F8DE7E;}/*Mellow Yellow*/
.background-yellow-41{background:#FFFF66;}/*Unmellow Yellow*/
.background-yellow-42{background:#CCA01D;}/*Lemon Curry*/
.background-yellow-43{background:#FFE4B5;}/*Moccasin*/
.background-yellow-44{background:#FFAD01;}/*Orange Yellow*/
.background-yellow-45{background:#FFFE71;}/*Pastel Yellow*/
.background-yellow-46{background:#FDB813;}/*Taxi Cab Yellow*/
.background-yellow-47{background:#FDEE00;}/*Aureolin*/
.background-yellow-48{background:#FFFF33;}/*Electric Yellow*/
.background-yellow-49{background:#DFFF00;}/*Chartreuse (traditional)*/
.background-yellow-50{background:#EEE600;}/*Titanium Yellow*/
.background-yellow-51{background:#FFC40C;}/*Mikado Yellow*/
.background-yellow-52{background:#CCFF00;}/*Fluorescent Yellow*/
.background-yellow-53{background:#E9D66B;}/*Arylide Yellow*/
.background-yellow-54{background:#E3A857;}/*Indian Yellow*/
.background-yellow-55{background:#E1BD27;}/*Durian Yellow*/
.background-yellow-56{background:#F5E050;}/*Minion Yellow*/
.background-yellow-57{background:#FFBA00;}/*Selective Yellow*/
.background-yellow-58{background:#FEFE22;}/*Laser Lemon*/
.background-yellow-59{background:#EFCC00;}/*Munsell Yellow*/
.background-yellow-60{background:#FFF000;}/*Yellow Rose*/
.background-yellow-61{background:#FFFFBF;}/*Very Pale Yellow*/
.background-yellow-62{background:#E1A95F;}/*Earth Yellow*/
.background-yellow-63{background:#FEDF00;}/*Yellow (Pantone)*/
.background-yellow-64{background:#FFCC00;}/*Tangerine Yellow*/
.background-yellow-65{background:#737000;}/*Bronze Yellow*/
.background-yellow-66{background:#FFF53D;}/*Psychedelic Yellow*/
.background-yellow-67{background:#DB9100;}/*Maize Yellow (RAL)*/
.background-yellow-68{background:#E0D268;}/*Muted Yellow*/
.background-yellow-69{background:#E8DE35;}/*Sulfur Yellow*/
.background-yellow-70{background:#CEB00D;}/*Yellow Jasmine*/
.background-yellow-71{background:#D4CC9A;}/*Dusty Yellow*/
.background-yellow-72{background:#E2B051;}/*Yolk Yellow (Pantone)*/
.background-yellow-73{background:#FFCA37;}/*Light Chrome Yellow*/
.background-yellow-74{background:#FFF23E;}/*Cadmium Yellow Lemon*/
.background-yellow-75{background:#FFDA29;}/*Vibrant Yellow*/
.background-yellow-76{background:#FFFF00;}/*Yellow CMYK*/
.background-yellow-77{background:#FEDE17;}/*Fire Yellow*/
.background-yellow-78{background:#F1BF70;}/*Buff Yellow*/
.background-yellow-79{background:#EFDC75;}/*Yellow Cream*/
.background-yellow-80{background:#F7D000;}/*Empire Yellow*/
.background-yellow-81{background:#F2CB2E;}/*Zinc Yellow (RAL)*/
.background-yellow-82{background:#F2A900;}/*Signal Yellow*/
.background-yellow-83{background:#EDD94C;}/*Matte Yellow*/
.background-yellow-84{background:#EFD033;}/*Aesthetic Yellow*/
.background-yellow-85{background:#E2C400;}/*Rustic Yellow*/
.background-yellow-86{background:#FFFFA7;}/*Pale Yellow*/
.background-yellow-87{background:#EEB700;}/*Colza Yellow*/
.background-yellow-88{background:#F4ECC2;}/*Transparent Yellow*/
.background-yellow-89{background:#FEE715;}/*Blazing Yellow*/
.background-yellow-90{background:#EDEEB7;}/*Tender Yellow*/
.background-yellow-91{background:#DFE69F;}/*Pale Lime Yellow*/
.background-yellow-92{background:#CBA92B;}/*Vintage Yellow*/
.background-yellow-93{background:#FCE517;}/*Spectrum Yellow*/
.background-yellow-94{background:#F0E27B;}/*Retro Yellow*/
.background-yellow-95{background:#C8AF55;}/*Old Yellow*/
.background-yellow-96{background:#FFB200;}/*Chinese Yellow*/
.background-yellow-97{background:#F9D73D;}/*Spanish Yellow*/
.background-yellow-98{background:#FFE992;}/*Refresh Yellow*/
.background-yellow-99{background:#EA9300;}/*Sun Yellow (RAL)*/
.background-yellow-100{background:#FCEF91;}/*Baby Yellow*/
.background-yellow-101{background:#F39B1B;}/*Dahlia Yellow (RAL)*/
.background-yellow-102{background:#DBA400;}/*Broom Yellow*/
.background-yellow-103{background:#978942;}/*Camouflage Yellow*/
.background-yellow-104{background:#EEBE15;}/*Trust Yellow*/
.background-yellow-105{background:#F4E98C;}/*Warm Yellow*/
.background-yellow-106{background:#FFE302;}/*Vivid Yellow*/
.background-yellow-107{background:#F0CA28;}/*Turmeric*/
.background-yellow-108{background:#FFCC33;}/*Sunglow*/
.background-yellow-109{background:#FFE797;}/*Light Saffron*/
.background-yellow-110{background:#FAE500;}/*Radioactive*/
.background-yellow-111{background:#FCC200;}/*Golden Poppy*/
.background-yellow-112{background:#E2BF36;}/*Real Gold*/
.background-yellow-113{background:#FAE481;}/*Glossy Gold*/
.background-yellow-114{background:#FFFC00;}/*Snapchat Yellow*/
.background-yellow-115{background:#FFB045;}/*Deep Chrome Yellow (Ferrario)*/
.background-yellow-116{background:#FF9C00;}/*Melon Yellow*/
.background-yellow-118{background:#FFE41E;}/*Bright Canary Yellow*/
.background-yellow-119{background:#FFCF99;}/*Deep Napoli Yellow*/
.background-yellow-120{background:#FC9E21;}/*Radiant Yellow*/
.background-yellow-121{background:#E28D00;}/*Daffodil Yellow*/
.background-yellow-122{background:#D39C43;}/*Mineral Yellow*/
.background-yellow-124{background:#F3E496;}/*Relax Yellow*/
.background-yellow-125{background:#F5DE10;}/*Rainbow Yellow*/
.background-yellow-126{background:#EACE09;}/*Deep Yellow*/
.background-yellow-127{background:#B5904B;}/*Ochre Yellow*/
.background-yellow-128{background:#DECA57;}/*Dull Yellow*/
.background-yellow-129{background:#FFDA00;}/*Hot Yellow*/
.background-yellow-130{background:#EFB700;}/*Traffic Yellow (RAL)*/
.background-yellow-131{background:#D56F00;}/*Yellow Orange*/
.background-yellow-132{background:#9D8F65;}/*Olive Yellow (RAL)*/
.background-yellow-133{background:#ECE3A1;}/*Faded Yellow*/
.background-yellow-134{background:#FFE81C;}/*Solid Yellow*/
.background-yellow-135{background:#DD9F00;}/*Golden Yellow (RAL)*/
.background-yellow-136{background:#FBEC5D;}/*Corn*/
.background-yellow-137{background:#F0E130;}/*Dandelion*/
.background-yellow-138{background:#FCF75E;}/*Icterine*/
.background-yellow-139{background:#ECD540;}/*Sandstorm*/
.background-yellow-140{background:#F9E076;}/*Macaroon*/
.background-yellow-141{background:#E1AD21;}/*Urobilin*/
.background-yellow-142{background:#CBA135;}/*Satin Sheen Gold*/
.background-yellow-143{background:#FFD800;}/*School Bus Yellow*/
.background-yellow-144{background:#EDC001;}/*British Standard BS 4800 10 E 51 Yellow*/
.background-yellow-145{background:#FFF4BC;}/*Mimosa*/
.background-yellow-146{background:#FCB810;}/*Marigold*/
.background-yellow-147{background:#F8DC75;}/*Daisy Yellow*/