.background-orange-1{background:#FF8C00;}/*Dark Orange*/
.background-orange-2{background:#FF5E0E;}/*Vivid Orange*/
.background-orange-3{background:#FF4500;}/*Orange-Red*/
.background-orange-4{background:#FF6347;}/*Tomato*/
.background-orange-5{background:#E26310;}/*Metallic Orange*/
.background-orange-6{background:#F5761A;}/*Pumpkin*/
.background-orange-7{background:#FD673A;}/*Smashed Pumpkin*/
.background-orange-8{background:#FFA836;}/*Yellow-Orange*/
.background-orange-9{background:#ED9121;}/*Carrot Orange*/
.background-orange-10{background:#FF4F00;}/*International Orange*/
.background-orange-11{background:#F06105;}/*Spanish Orange*/
.background-orange-12{background:#F78702;}/*Tangerine*/
.background-orange-13{background:#FF8F00;}/*Princeton Orange*/
.background-orange-14{background:#FB4F14;}/*Orioles Orange*/
.background-orange-15{background:#FFA52C;}/*Deep Saffron*/
.background-orange-16{background:#C35214;}/*Alloy Orange*/
.background-orange-17{background:#EE5921;}/*Halloween Orange*/
.background-orange-18{background:#FC4C02;}/*Tangelo*/
.background-orange-19{background:#E89611;}/*Gamboge*/
.background-orange-20{background:#D74826;}/*Vermilion*/
.background-orange-21{background:#CF5B2E;}/*Medium Vermilion*/
.background-orange-22{background:#E68000;}/*Fulvous*/
.background-orange-23{background:#FEBA4F;}/*Pastel Orange*/
.background-orange-24{background:#E34A27;}/*Flame*/
.background-orange-25{background:#F26E01;}/*Philippine Orange*/
.background-orange-26{background:#F28F1C;}/*Beer Orange*/
.background-orange-27{background:#EB6841;}/*Chinese Orange*/
.background-orange-28{background:#E89149;}/*Jasper Orange*/
.background-orange-29{background:#FF9944;}/*Royal Orange*/
.background-orange-30{background:#FF7F50;}/*Coral*/
.background-orange-31{background:#D75341;}/*Dark Coral*/
.background-orange-32{background:#E6812F;}/*Cadmium Orange*/
.background-orange-33{background:#C34723;}/*Dark Pastel Red*/
.background-orange-34{background:#D97448;}/*Copper Red*/
.background-orange-35{background:#F77F00;}/*University Of Tennessee Orange*/
.background-orange-36{background:#FABA5F;}/*Rajah*/
.background-orange-37{background:#FB8842;}/*Mango Tango*/
.background-orange-38{background:#FF9F00;}/*Orange Peel*/
.background-orange-39{background:#EC7625;}/*Vivid Tangelo*/
.background-orange-40{background:#8A3324;}/*Burnt Umber*/
.background-orange-41{background:#FFF1D7;}/*Papaya Whip*/
.background-orange-42{background:#FE6F5E;}/*Bittersweet*/
.background-orange-43{background:#EC5800;}/*Persimmon*/
.background-orange-44{background:#D99058;}/*Persian Orange*/
.background-orange-45{background:#E2725B;}/*Terracotta*/
.background-orange-46{background:#FBCEB1;}/*Apricot Orange*/
.background-orange-47{background:#CD7F32;}/*Bronze Orange*/
.background-orange-48{background:#FF3C00;}/*Browns Orange*/
.background-orange-49{background:#F2CA85;}/*Buff Orange*/
.background-orange-50{background:#FFC82A;}/*Bumblebee Orange*/
.background-orange-51{background:#CC5500;}/*Burnt Orange*/
.background-orange-52{background:#D99151;}/*Butterscotch Orange*/
.background-orange-53{background:#FFA600;}/*Cheese Orange*/
.background-orange-54{background:#D2691E;}/*Chocolate Orange*/
.background-orange-55{background:#D8A175;}/*Cider Orange*/
.background-orange-56{background:#BB772E;}/*Copper Orange*/
.background-orange-57{background:#FF7538;}/*Crayola Orange*/
.background-orange-58{background:#ED8E4A;}/*Desert Orange*/
.background-orange-59{background:#EDC9AF;}/*Desert Sand Orange*/
.background-orange-60{background:#FD652D;}/*Dragon Fire Orange*/
.background-orange-61{background:#DB804E;}/*Dull Orange*/
.background-orange-62{background:#FE5A1D;}/*Giants Orange*/
.background-orange-63{background:#B06500;}/*Ginger Orange*/
.background-orange-64{background:#C0362C;}/*Golden Gate Bridge Orange*/
.background-orange-65{background:#DAA520;}/*Goldenrod Orange*/
.background-orange-66{background:#FF9913;}/*Goldfish Orange*/
.background-orange-67{background:#FFBD31;}/*Honey Orange*/
.background-orange-68{background:#E8AC41;}/*Hunyadi Orange*/
.background-orange-69{background:#D15837;}/*Koi Orange*/
.background-orange-70{background:#FED8B1;}/*Light Orange*/
.background-orange-71{background:#F6CBA0;}/*Light Copper Orange*/
.background-orange-72{background:#FF7518;}/*Pumpkin Orange*/
.background-orange-73{background:#EABD8C;}/*Dark Topaz Orange*/
.background-orange-74{background:#C04000;}/*Mahogany Orange*/
.background-orange-75{background:#EAA221;}/*Marigold Orange*/
.background-orange-76{background:#DF9166;}/*Melon Orange*/
.background-orange-77{background:#FFCA4B;}/*Mimosa Orange*/
.background-orange-78{background:#FFAD00;}/*Neon Orange*/
.background-orange-79{background:#C99700;}/*Ochre Orange*/
.background-orange-80{background:#FFDFBF;}/*Orange Pale Orange*/
.background-orange-81{background:#FEE8D6;}/*Orange Paper Orange*/
.background-orange-82{background:#D76B00;}/*Orange Spice Orange*/
.background-orange-83{background:#FF6E4A;}/*Outrageous Orange*/
.background-orange-84{background:#FE5000;}/*Pantone Orange*/
.background-orange-85{background:#FFCC99;}/*Peach Orange*/
.background-orange-86{background:#E77D22;}/*Pepper Orange*/
.background-orange-87{background:#985629;}/*Red Fox Orange*/
.background-orange-88{background:#F06631;}/*Rumba Orange*/
.background-orange-89{background:#FF6700;}/*Safety Orange*/
.background-orange-90{background:#FDAE44;}/*Safflower Orange*/
.background-orange-91{background:#F05E23;}/*Salamander Orange*/
.background-orange-92{background:#FF8066;}/*Salmon Orange*/
.background-orange-93{background:#E89362;}/*Squash Orange*/
.background-orange-94{background:#E67451;}/*Sunrise Orange*/
.background-orange-95{background:#FD5E53;}/*Sunset Orange*/
.background-orange-96{background:#D44500;}/*Syracuse Orange*/
.background-orange-97{background:#B25A38;}/*Tawny Orange*/
.background-orange-98{background:#F96815;}/*Tiger Orange*/
.background-orange-99{background:#E08D3C;}/*Tiger’s Eye Orange*/
.background-orange-100{background:#FFC87C;}/*Topaz Orange*/
.background-orange-101{background:#CC7711;}/*Tree Sap Orange*/
.background-orange-102{background:#FFA500;}/*Web Orange*/
.background-orange-103{background:#FF9916;}/*West Side Orange*/
.background-orange-104{background:#F5DEB3;}/*Wheat Orange*/
.background-orange-105{background:#F1B42F;}/*Xanthous Orange*/
.background-orange-106{background:#E17E45;}/*Yam Orange*/
.background-orange-107{background:#BD5745;}/*Mecca Orange*/
.background-orange-108{background:#F76806;}/*Lava Orange*/
.background-orange-109{background:#FF9B00;}/*Dutch Orange*/
.background-orange-110{background:#FFC600;}/*Amber*/
.background-orange-111{background:#F4AB6A;}/*Aesthetic Orange*/
.background-orange-112{background:#FF6E00;}/*Hot Orange*/
.background-orange-113{background:#E78400;}/*Glossy Orange*/
.background-orange-114{background:#FF8000;}/*Pure Orange*/
.background-orange-115{background:#D78C3D;}/*Rustic Orange*/
.background-orange-116{background:#FCBE85;}/*Baby Orange*/
.background-orange-118{background:#F5883F;}/*Irish Orange*/
.background-orange-119{background:#D16002;}/*Marmalade*/
.background-orange-120{background:#C9995D;}/*Vintage Orange*/
.background-orange-121{background:#B7410E;}/*Rust*/
.background-orange-122{background:#FF9933;}/*India Saffron*/
.background-orange-124{background:#FF9966;}/*Atomic Tangerine*/
.background-orange-125{background:#B6481C;}/*Red Orange (RAL)*/
.background-orange-126{background:#FD5602;}/*Willpower Orange*/
.background-orange-127{background:#E27A53;}/*Dusty Orange*/
.background-orange-128{background:#FD963D;}/*Spring Orange*/
.background-orange-129{background:#E06E04;}/*Greek Orange*/
.background-orange-130{background:#FAB972;}/*Calm Orange*/
.background-orange-131{background:#CD946A;}/*Faded Orange*/
.background-orange-132{background:#FFB700;}/*Luminous Bright Orange (RAL)*/