.background-white{background:#FFFFFF;}/*White*/
.background-white-1{background:#FFFFFF;}/*White*/
.background-white-2{background:#F8F8FF;}/*Ghost White*/
.background-white-3{background:#F5F5F5;}/*White Smoke*/
.background-white-4{background:#FEFEFA;}/*Baby Powder*/
.background-white-5{background:#F5FEFD;}/*Snow*/
.background-white-6{background:#FFFFF0;}/*Ivory*/
.background-white-7{background:#FFFAF0;}/*Floral White*/
.background-white-8{background:#FFF5EE;}/*Seashell*/
.background-white-9{background:#FFF8DC;}/*Cornsilk*/
.background-white-10{background:#FDF5E6;}/*Old Lace*/
.background-white-11{background:#FFFDD0;}/*Cream*/
.background-white-12{background:#F5F5DC;}/*Beige*/
.background-white-13{background:#F1E9D2;}/*Parchment*/
.background-white-14{background:#FAEBD7;}/*Antique White*/
.background-white-15{background:#F7E7CE;}/*Champagne*/
.background-white-16{background:#F0EAD6;}/*Eggshell*/
.background-white-17{background:#EFDFBB;}/*Dutch White*/
.background-white-18{background:#E3DAC9;}/*Bone*/
.background-white-19{background:#F3E5AB;}/*Vanilla*/
.background-white-20{background:#EEDC82;}/*Flax*/
.background-white-21{background:#FFDEAD;}/*Navajo White*/
.background-white-22{background:#EDEAE0;}/*Alabaster*/
.background-white-23{background:#FFFACD;}/*Chiffon*/
.background-white-24{background:#F3F2ED;}/*Unresolved Problem*/
.background-white-25{background:#F0EEE4;}/*Old Wood*/
.background-white-26{background:#FFFAFA;}/*Rose White*/
.background-white-27{background:#FDFCFA;}/*Vista White*/
.background-white-28{background:#ECF3F9;}/*Link White*/
.background-white-29{background:#F3F0E8;}/*Spring*/
.background-white-30{background:#F8FBF8;}/*Snow Drift*/
.background-white-31{background:#F1F9EC;}/*Peppermint*/
.background-white-32{background:#F2EBDD;}/*Merino*/
.background-white-33{background:#FFFFE4;}/*Half and Half*/
.background-white-34{background:#FFFCEC;}/*Island Spice*/
.background-white-35{background:#F6F1F4;}/*Soft Peach*/
.background-white-36{background:#EBF5F0;}/*Harp*/
.background-white-37{background:#EEEEFF;}/*Titan White*/
.background-white-38{background:#EAF4FC;}/*Audience Anger*/
.background-white-39{background:#F8F9F5;}/*Orange White*/
.background-white-40{background:#F6F4F1;}/*Cough Mixture*/
.background-white-41{background:#F3DECA;}/*Albescent White*/
.background-white-42{background:#FFF1E6;}/*Coconut*/
.background-white-43{background:#F8EEEC;}/*Pink Salt*/
.background-white-44{background:#FCFBFC;}/*Frost*/
.background-white-45{background:#F3EAD3;}/*Linen*/
.background-white-46{background:#FAF5EF;}/*Rice*/
.background-white-47{background:#FAFAFA;}/*Daisy*/
.background-white-48{background:#FBFCFA;}/*Powder*/
.background-white-49{background:#FBFCF8;}/*Pearl*/
.background-white-50{background:#C2D8D3;}/*Paris White*/
.background-white-51{background:#EBF6F7;}/*Cup Cake*/
.background-white-52{background:#F0EFE7;}/*White Dove*/
.background-white-53{background:#EAE8E1;}/*White Whisper*/
.background-white-54{background:#E7EAEA;}/*Lexicon*/
.background-white-55{background:#F0EBE3;}/*Greek Villa*/
.background-white-56{background:#E7E8E2;}/*White Diamond*/
.background-white-57{background:#ECEFEC;}/*Decorator’s White*/
.background-white-58{background:#DFDFD5;}/*Winter White*/
.background-white-59{background:#DEDDDB;}/*Spatial White*/
.background-white-60{background:#EBE4D8;}/*Hog Bristle Quarter*/
.background-white-61{background:#EFEDE3;}/*Simply White*/
.background-white-62{background:#E3DFD2;}/*Oyster White*/
.background-white-63{background:#EDEFEF;}/*White on White*/
.background-white-64{background:#F2F2F1;}/*Lexicon Quarter*/
.background-white-65{background:#F0F8FF;}/*Alice Blue*/
.background-white-66{background:#F0FFF0;}/*Honeydew*/
.background-white-67{background:#F5FFFA;}/*Mint Cream*/
.background-white-68{background:#FDFFF5;}/*Milk*/
.background-white-69{background:#F9FFE3;}/*Pomelo White*/
.background-white-70{background:#F2F3F4;}/*Anti-Flash White*/
.background-white-71{background:#F8F4FF;}/*Magnolia*/
.background-white-72{background:#F0FFFF;}/*Azure*/
.background-white-73{background:#F1F0E5;}/*Huntington White*/
.background-white-74{background:#F4EFE3;}/*Acadia White*/
.background-white-75{background:#DCDCDC;}/*Gainsboro*/
.background-white-76{background:#E7E7E7;}/*Mercury*/
.background-white-77{background:#FFF0F5;}/*Lavender Blush*/
.background-white-78{background:#F4F0EC;}/*Isabelline*/
.background-white-79{background:#E7FEFF;}/*Bubbles*/
.background-white-80{background:#E6E8FA;}/*Glitter*/
.background-white-81{background:#E5E4E2;}/*Platinum*/
.background-white-82{background:#FFF8E7;}/*Cosmic Latte*/
.background-white-83{background:#FFEBCD;}/*Blanched Almond*/
.background-white-84{background:#FFFFE0;}/*Light Yellow*/
.background-white-85{background:#FFFFFF;}/*Natural White*/
.background-white-86{background:#F9F9F9;}/*Vivid White*/
.background-white-87{background:#F5F5F5;}/*White Wisp*/
.background-white-88{background:#D1D5D8;}/*Azureish White*/
.background-white-89{background:#DBD7D2;}/*Timberwolf*/
.background-white-90{background:#FFEFD5;}/*Papaya Whip*/
.background-white-91{background:#FAEBD7;}/*Antique White USA*/
.background-white-92{background:#3C2F2F;}/*Cola*/
.background-white-93{background:#F7F3E9;}/*Atrium White*/
.background-white-94{background:#E4E8E9;}/*Cascading White*/
.background-white-95{background:#FDFDFD;}/*Cotton Ball*/
.background-white-96{background:#F2F3F4;}/*Photon White*/
.background-white-97{background:#F8F7F5;}/*White Heat*/
.background-white-98{background:#FDF7E7;}/*Whitewash*/
.background-white-99{background:#F5F5F4;}/*Shadow White*/
.background-white-100{background:#F7F3F2;}/*Abbey White*/
.background-white-101{background:#FBFCFC;}/*Acoustic White*/
.background-white-102{background:#F8F7F1;}/*Aircraft White*/
.background-white-103{background:#FDF6E9;}/*Ceramic*/
.background-white-104{background:#FFFFFF;}/*Coconut Butter*/
.background-white-105{background:#FFFFFF;}/*Abstract White*/
.background-white-106{background:#FCFCFC;}/*Bright White*/
.background-white-107{background:#FFFFFF;}/*Broken White*/
.background-white-108{background:#FAFAFA;}/*Brilliant White*/
.background-white-109{background:#EAF9F5;}/*Commercial White*/
.background-white-110{background:#EEE7DC;}/*Feather White*/
.background-white-111{background:#F8F8F7;}/*Swan White*/
.background-white-112{background:#F2F3EF;}/*Polar Bear*/
.background-white-113{background:#F8F8F7;}/*Paper White*/
.background-white-114{background:#E8EAE6;}/*Pacific Pearl*/
.background-white-115{background:#E1E1DD;}/*Night White*/
.background-white-116{background:#F1F2EE;}/*Delicate White*/
.background-white-118{background:#E9EDF6;}/*Coconut White*/
.background-white-119{background:#F0EDDB;}/*Cake Batter*/
.background-white-120{background:#ECE9E4;}/*White Sand*/
.background-white-121{background:#FBF6F0;}/*Stone White*/
.background-white-122{background:#EDE6D6;}/*White Chocolate*/
.background-white-123{background:#EDEAE2;}/*Retro White*/