.background-purple-1{background:#6A0DAD;}/*True Purple*/
.background-purple-2{background:#D8BFD8;}/*Thistle*/
.background-purple-3{background:#DDA0DD;}/*Plum*/
.background-purple-4{background:#8F00FF;}/*Violet*/
.background-purple-5{background:#DA70D6;}/*Orchid*/
.background-purple-6{background:#FF00FF;}/*Fuchsia*/
.background-purple-7{background:#BA55D3;}/*Medium Orchid*/
.background-purple-8{background:#9370DB;}/*Medium Purple*/
.background-purple-9{background:#8A2BE2;}/*Blue Violet*/
.background-purple-10{background:#9400D3;}/*Dark Violet*/
.background-purple-11{background:#9932CC;}/*Dark Orchid*/
.background-purple-12{background:#8B008B;}/*Dark Magenta*/
.background-purple-13{background:#4B0082;}/*Indigo*/
.background-purple-14{background:#A020F0;}/*Veronica*/
.background-purple-15{background:#FAE6FA;}/*Pale Purple*/
.background-purple-16{background:#E0B0FF;}/*Mauve*/
.background-purple-17{background:#DF73FF;}/*Heliotrope*/
.background-purple-18{background:#DF00FF;}/*Phlox*/
.background-purple-19{background:#FE4EDA;}/*Purple Pizzazz*/
.background-purple-20{background:#DE6FA1;}/*Liserian Purple*/
.background-purple-21{background:#C54B8C;}/*Mulberry*/
.background-purple-22{background:#B768A2;}/*Pearly Purple*/
.background-purple-23{background:#9A4EAE;}/*Purpureus*/
.background-purple-24{background:#4E2A84;}/*Northwestern Purple*/
.background-purple-25{background:#512888;}/*KSU Purple*/
.background-purple-26{background:#86608E;}/*Pomp and Power*/
.background-purple-27{background:#880085;}/*Mardi Gras*/
.background-purple-28{background:#6C3082;}/*Eminence*/
.background-purple-29{background:#78184A;}/*Pansy Purple*/
.background-purple-30{background:#72246C;}/*Palatinate*/
.background-purple-31{background:#301934;}/*Dark Purple*/
.background-purple-32{background:#702963;}/*Byzantium*/
.background-purple-33{background:#B284BE;}/*African Violet*/
.background-purple-34{background:#9966CC;}/*Amethyst*/
.background-purple-35{background:#856088;}/*Chinese Violet*/
.background-purple-36{background:#563C5C;}/*English Violet*/
.background-purple-37{background:#32174D;}/*Russian Violet*/
.background-purple-38{background:#F2C1D1;}/*Fairy Tale*/
.background-purple-39{background:#B53389;}/*Fandango*/
.background-purple-40{background:#D473D4;}/*French Mauve*/
.background-purple-41{background:#6F4685;}/*Affair*/
.background-purple-42{background:#B0306A;}/*Boss’s Jokes*/
.background-purple-43{background:#9867C5;}/*Iris*/
.background-purple-44{background:#6F456E;}/*Long Distance*/
.background-purple-45{background:#493F5E;}/*Prince Charming*/
.background-purple-46{background:#8E4785;}/*Lipstick Stain*/
.background-purple-47{background:#720058;}/*Pompadour*/
.background-purple-48{background:#6F2DA8;}/*Grape background*/
.background-purple-49{background:#2C041C;}/*Wine*/
.background-purple-50{background:#9A2CA0;}/*Pizza Edge*/
.background-purple-51{background:#66023C;}/*Tyrian Purple*/
.background-purple-52{background:#645394;}/*Ultra Violet*/
.background-purple-53{background:#7851A9;}/*Studio*/
.background-purple-54{background:#BF00FF;}/*Electric Purple*/
.background-purple-55{background:#311432;}/*Eggplant*/
.background-purple-56{background:#BE93E4;}/*Periwinkle Purple*/
.background-purple-57{background:#4D0F28;}/*Sangria*/
.background-purple-58{background:#290916;}/*Raisin*/
.background-purple-59{background:#997A8D;}/*Mountbatten Pink*/
.background-purple-60{background:#9C51B6;}/*Fuchsia Blue*/
.background-purple-61{background:#C9A0FF;}/*Good Tax*/
.background-purple-62{background:#67032F;}/*Jam*/
.background-purple-63{background:#410056;}/*Ripe Plum*/
.background-purple-64{background:#9E7BB5;}/*Heather*/
.background-purple-65{background:#A32CC4;}/*Magenta Purple*/
.background-purple-66{background:#9078C0;}/*Mountain’s Majesty*/
.background-purple-67{background:#796878;}/*Old Lavender*/
.background-purple-68{background:#663399;}/*Rebecca Purple*/
.background-purple-69{background:#8D4E85;}/*Razzmic Berry Purple*/
.background-purple-70{background:#673147;}/*Wine Dregs Purple*/
.background-purple-71{background:#522D80;}/*Regalia Purple*/
.background-purple-72{background:#8A496B;}/*Twilight Lavender Purple*/
.background-purple-73{background:#8E4585;}/*Traditional Purple*/
.background-purple-74{background:#4C2882;}/*Spanish Violet Purple*/
.background-purple-75{background:#602F6B;}/*Imperial Purple*/
.background-purple-76{background:#5B3256;}/*Japanese Violet Purple*/
.background-purple-77{background:#9F00C5;}/*Munsell Purple*/
.background-purple-78{background:#843F5B;}/*Deep Ruby Purple*/
.background-purple-79{background:#7442C8;}/*Purple Heart*/
.background-purple-80{background:#FFF0F5;}/*Lavender Blush*/
.background-purple-81{background:#CEA2FD;}/*Early Bird*/
.background-purple-82{background:#B65FCF;}/*Lilac*/
.background-purple-83{background:#50404D;}/*Purple Taupe*/
.background-purple-84{background:#58427C;}/*Cyber Grape Purple*/
.background-purple-85{background:#653780;}/*Kingfisher Daisy*/
.background-purple-86{background:#61346B;}/*Seance*/
.background-purple-87{background:#B6B5D8;}/*Lavender Gray*/
.background-purple-88{background:#D05FAD;}/*Hopbush*/
.background-purple-89{background:#6F3096;}/*Tacao*/
.background-purple-90{background:#D399E6;}/*Brilliant Purple*/
.background-purple-91{background:#4F284B;}/*Murasaki Purple*/
.background-purple-92{background:#291E29;}/*Blackish Purple*/
.background-purple-93{background:#7F38EC;}/*Lovely Purple*/
.background-purple-94{background:#3E2F84;}/*Vulgar Purple (Grape Jelly)*/
.background-purple-95{background:#4F2D7F;}/*University of Central Arkansas Purple*/
.background-purple-96{background:#660099;}/*FedEx Purple*/
.background-purple-97{background:#9B84A1;}/*Carolina Plum*/
.background-purple-98{background:#705160;}/*Kalamata*/
.background-purple-99{background:#540E32;}/*Black Currant*/
.background-purple-100{background:#551A8B;}/*Purple 4*/
.background-purple-101{background:#875692;}/*Strong Purple*/
.background-purple-102{background:#AA98A9;}/*Pale Purple*/
.background-purple-103{background:#870074;}/*Vivid Reddish Purple*/
.background-purple-104{background:#8968CD;}/*Medium Purple 3*/
.background-purple-105{background:#D982B5;}/*Middle Purple*/
.background-purple-106{background:#8A244E;}/*Cardinal*/
.background-purple-107{background:#3B343C;}/*Embassy Purple*/
.background-purple-107{background:#3B343C;}/*Embassy Purple*/
.background-purple-108{background:#552582;}/*Lakers Purple*/
.background-purple-109{background:#AB274F;}/*Amaranth Purple*/
.background-purple-110{background:#4E5180;}/*Purple Navy*/
.background-purple-111{background:#682E3C;}/*Insolent Purple*/
.background-purple-112{background:#A2627A;}/*Smyrna Purple*/
.background-purple-113{background:#592A8A;}/*East Carolina University Purple*/
.background-purple-114{background:#E9DCE5;}/*Little Princess*/
.background-purple-115{background:#502380;}/*Aesthetic Purple*/
.background-purple-116{background:#5D3F6A;}/*Kikyo-iru*/
.background-purple-118{background:#520E7D;}/*Metallic Purple*/
.background-purple-119{background:#A420D0;}/*Hot Purple*/
.background-purple-120{background:#795F80;}/*Faded Purple*/
.background-purple-121{background:#53277E;}/*Mythical Purple*/
.background-purple-122{background:#D6CADD;}/*Languid Lavender*/
.background-purple-124{background:#8D029B;}/*Mauveine*/
.background-purple-125{background:#7B679A;}/*Blue Lilac*/
.background-purple-126{background:#5D3954;}/*Dark Byzantium*/
.background-purple-127{background:#743089;}/*Luxury Purple*/
.background-purple-128{background:#893BFF;}/*Aztech Purple*/
.background-purple-129{background:#280353;}/*Baltimore Ravens Purple*/
.background-purple-130{background:#CC00CC;}/*Deep Magenta*/
.background-purple-131{background:#524F81;}/*Deep Purple*/
.background-purple-132{background:#593163;}/*Rustic Purple*/
.background-purple-133{background:#A865B5;}/*Sunset Purple*/
.background-purple-134{background:#C71585;}/*Artist’s Purple*/
.background-purple-135{background:#9861A5;}/*Dull Purple*/
.background-purple-136{background:#913073;}/*Traffic Purple*/
.background-purple-137{background:#392A48;}/*Matte Purple*/
.background-purple-138{background:#47243C;}/*Purple Violet*/
.background-purple-139{background:#6A317F;}/*Purple CMYK*/
.background-purple-140{background:#6E2D91;}/*Ocean Purple*/
.background-purple-141{background:#B941FF;}/*Shiny Purple*/
.background-purple-142{background:#834468;}/*Autumn Purple*/