.background-red{background:#FF0000;} /* True Red */
.background-red-1{background:#ed2939;} /* Imperial Red */
.background-red-2{background:#ff2400;} /* Scarlet */
.background-red-3{background:#cd5c5c;} /* Indian Red */
.background-red-4{background:#7c0a02;} /* Barn Red */
.background-red-5{background:#c21807;} /* Chili Red */
.background-red-6{background:#e0115f;} /* Ruby */
.background-red-7{background:#800000;} /* Maroon */
.background-red-8{background:#b22222;} /* Fire Brick */
.background-red-9{background:#a45a52;} /* Redwood */
.background-red-10{background:#960018;} /* Carmine */
.background-red-11{background:#ea3c53;} /* Desire */
.background-red-12{background:#7e191b;} /* Vermilion */
.background-red-13{background:#d21f3c;} /* Raspberry */
.background-red-14{background:#ff0800;} /* Candy Apple */
.background-red-15{background:#ca3433;} /* Persian */
.background-red-16{background:#b43757;} /* Hibiscus */
.background-red-17{background:#bf0a30;} /* U.S. Flag */
.background-red-18{background:#ff2800;} /* Ferrari */
.background-red-19{background:#5e1914;} /* Sangria */
.background-red-20{background:#420d09;} /* Mahogany */
.background-red-21{background:#8D021F;} /* Burgundy */
.background-red-22{background:#B80F0A;} /* Crimson */
.background-red-23{background:#933A16;} /* Rust */
.background-red-24{background:#FFA07A;} /* Light Salmon */
.background-red-25{background:#FA8072;} /* Salmon */
.background-red-26{background:#E9967A;} /* Dark Salmon */
.background-red-27{background:#F08080;} /* Light Coral */
.background-red-28{background:#FF0000;} /* True Red */
.background-red-29{background:#8B0000;} /* Dark Red */
.background-red-30{background:#FF6347;} /* Tomato */
.background-red-31{background:#FF4500;} /* Orange Red */
.background-red-32{background:#DB7093;} /* Pale Violet Red */
.background-red-33{background:#FB607F;} /* Light Brick */
.background-red-34{background:#7E2811;} /* Brick */
.background-red-35{background:#D03D33;} /* Prismatic Red */
.background-red-36{background:#BA1607;} /* Prismatic Legacy */
.background-red-37{background:#CA0123;} /* Prismatic Vermilion Renewal */
.background-red-38{background:#FF3C28;} /* Prismatic Reflection's Shade */
.background-red-39{background:#AA0000;} /* 49ers Red */
.background-red-40{background:#BD2031;} /* AZ Cardinals Red */
.background-red-41{background:#FF5A5F;} /* Airbnb Red */
.background-red-42{background:#D2122E;} /* Ajax Red */
.background-red-43{background:#9E1B32;} /* Alabama Crimson */
.background-red-44{background:#E32636;} /* Alizarin Crimson */
.background-red-45{background:#F4364C;} /* Amaranth Red */
.background-red-46{background:#FF033E;} /* American Rose */
.background-red-47{background:#BA0021;} /* Angels Red */
.background-red-48{background:#E5B39B;} /* Almost Apricot Red */
.background-red-49{background:#DB0007;} /* Arsenal Red */
.background-red-50{background:#A52A2A;} /* Auburn Red */
.background-red-51{background:#CC0000;} /* BU Scarlet */
.background-red-52{background:#C60C30;} /* Bills Red */
.background-red-53{background:#BF4F51;} /* Bittersweet Shimmer Red */
.background-red-54{background:#660000;} /* Blood Red */
.background-red-55{background:#E03C31;} /* CG Red */
.background-red-56{background:#E30022;} /* Cadmium Red */
.background-red-57{background:#C41E3A;} /* Cardinal Red */
.background-red-58{background:#B31B1B;} /* Carnelian Red */
.background-red-59{background:#DE3163;} /* Cerise Red */
.background-red-60{background:#E31837;} /* Chiefs Red */
.background-red-61{background:#58111A;} /* Chocolate Cosmos Red */
.background-red-62{background:#C6011F;} /* Cincinnati Red */
.background-red-63{background:#E44D2E;} /* Cinnabar Red */
.background-red-64{background:#F40009;} /* Coke Red */
.background-red-65{background:#FF3800;} /* Coquelicot Red */
.background-red-66{background:#FF7F50;} /* Coral Red */
.background-red-67{background:#893F45;} /* Cordovan Red */
.background-red-68{background:#EE204D;} /* Crayola Red */
.background-red-69{background:#FF003F;} /* Electric Crimson */
.background-red-70{background:#AB4B52;} /* English Red */
.background-red-71{background:#A71930;} /* Falcons Red */
.background-red-72{background:#801818;} /* Falu Red */
.background-red-73{background:#CE2029;} /* Fire Engine Red */
.background-red-74{background:#E25822;} /* Flame Red */
.background-red-75{background:#FF004F;} /* Folly Red */
.background-red-76{background:#4E1609;} /* French Puce Red */
.background-red-77{background:#FF00FF;} /* Fuchsia */
.background-red-78{background:#CC6666;} /* Fuzzy Wuzzy Red */
.background-red-79{background:#733635;} /* Garnet Red */
.background-red-80{background:#A51C30;} /* Harvard Crimson */
.background-red-81{background:#F400A1;} /* Hollywood Cerise Red */
.background-red-82{background:#E41C38;} /* Husker Red */
.background-red-83{background:#9D2933;} /* Japanese Carmine */
.background-red-84{background:#D73B3E;} /* Jasper Red */
.background-red-85{background:#DA614E;} /* Jelly Bean Red */
.background-red-86{background:#7C1C05;} /* Kenyan Copper Red */
.background-red-87{background:#CF1020;} /* Lava Red */
.background-red-88{background:#C8102E;} /* Liverpool Red */
.background-red-89{background:#E62020;} /* Lust Red */
.background-red-90{background:#A31F34;} /* MIT Red */
.background-red-91{background:#A50021;} /* Madder Red */
.background-red-92{background:#FF0090;} /* Pigment Magenta */
.background-red-93{background:#DA291C;} /* Manchester United Red */
.background-red-94{background:#C71585;} /* Medium Violet Red */
.background-red-95{background:#F2003C;} /* Munsell Red */
.background-red-96{background:#C40233;} /* NCS Red */
.background-red-97{background:#AB0003;} /* Nationals Red */
.background-red-98{background:#841617;} /* Oklahoma Crimson */
.background-red-99{background:#800020;} /* Oxblood Red */
.background-red-100{background:#FF6961;} /* Pastel Red */
.background-red-101{background:#990000;}/*Penn Red*/
.background-red-102{background:#FE28A2;}/*Persian Rose Red*/
.background-red-103{background:#E81828;}/*Phillies Red*/
.background-red-104{background:#ED1C24;}/*Pigment Red*/
.background-red-105{background:#E60023;}/*Pinterest Red*/
.background-red-106{background:#BE4F62;}/*Popstar Red*/
.background-red-107{background:#FF5A36;}/*Portland Orange Red*/
.background-red-108{background:#701C1C;}/*Prune Red*/
.background-red-109{background:#FF355E;}/*Radical Red*/
.background-red-110{background:#860111;}/*Red Devil*/
.background-red-111{background:#BD3039;}/*Red Sox*/
.background-red-112{background:#C21E56;}/*Rose Red*/
.background-red-113{background:#65000B;}/*Rosewood Red*/
.background-red-114{background:#A81C07;}/*Rufous Red*/
.background-red-115{background:#80461B;}/*Russet Red*/
.background-red-116{background:#DA2C43;}/*Rusty Red*/
.background-red-118{background:#BC3F4A;}/*Sanguine Red*/
.background-red-119{background:#E60026;}/*Spanish Red*/
.background-red-120{background:#E4717A;}/*Tango Red*/
.background-red-121{background:#CD5700;}/*Tawny Red*/
.background-red-122{background:#F88379;}/*Tea Rose Red*/
.background-red-123{background:#E2725B;}/*Terracotta Red*/
.background-red-124{background:#FD0E35;}/*Tractor Red*/
.background-red-125{background:#A91101;}/*Turkey Red*/
.background-red-126{background:#7C3030;}/*Tuscan Red*/
.background-red-127{background:#AE2029;}/*Upsdell Red*/
.background-red-128{background:#C80815;}/*Venetian Red*/
.background-red-129{background:#E4181E;}/*Virgin Lust Red*/
.background-red-130{background:#722F37;}/*Wine Red*/
.background-red-131{background:#E97451;}/*Light Red Ochre*/
.background-red-132{background:#D9603B;}/*Medium Vermillion*/
.background-red-133{background:#7B1113;}/*UP Maroon*/
.background-red-134{background:#FF6E4A;}/*Outrageous Orange Red*/
.background-red-135{background:#D3003F;}/*Utah Crimson*/