/** all */
.border-radius-1  {border-radius: var(--small-1);}
.border-radius-2  {border-radius: var(--small-2);}
.border-radius-3  {border-radius: var(--small-3);}
.border-radius-4  {border-radius: var(--small-4);}
.border-radius-5  {border-radius: var(--small-5);}
.border-radius-6  {border-radius: var(--small-6);}
.border-radius-7  {border-radius: var(--small-7);}
.border-radius-8  {border-radius: var(--small-8);}
.border-radius-9  {border-radius: var(--small-9);}
.border-radius-10  {border-radius: var(--small-10);}
.border-radius-11  {border-radius: var(--small-11);}
.border-radius-12  {border-radius: var(--small-12);}
.border-radius-13  {border-radius: var(--small-13);}
.border-radius-14  {border-radius: var(--small-14);}
.border-radius-15  {border-radius: var(--small-15);}
.border-radius-16  {border-radius: var(--small-16);}
.border-radius-17  {border-radius: var(--small-17);}
.border-radius-18  {border-radius: var(--small-18);}
.border-radius-19  {border-radius: var(--small-19);}
.border-radius-20  {border-radius: var(--small-20);}
/** xl */
@media screen and (min-width:1281px){  
.xl-border-radius-1  {border-radius: var(--small-1);}
.xl-border-radius-2  {border-radius: var(--small-2);}
.xl-border-radius-3  {border-radius: var(--small-3);}
.xl-border-radius-4  {border-radius: var(--small-4);}
.xl-border-radius-5  {border-radius: var(--small-5);}
.xl-border-radius-6  {border-radius: var(--small-6);}
.xl-border-radius-7  {border-radius: var(--small-7);}
.xl-border-radius-8  {border-radius: var(--small-8);}
.xl-border-radius-9  {border-radius: var(--small-9);}
.xl-border-radius-10  {border-radius: var(--small-10);}
.xl-border-radius-11  {border-radius: var(--small-11);}
.xl-border-radius-12  {border-radius: var(--small-12);}
.xl-border-radius-13  {border-radius: var(--small-13);}
.xl-border-radius-14  {border-radius: var(--small-14);}
.xl-border-radius-15  {border-radius: var(--small-15);}
.xl-border-radius-16  {border-radius: var(--small-16);}
.xl-border-radius-17  {border-radius: var(--small-17);}
.xl-border-radius-18  {border-radius: var(--small-18);}
.xl-border-radius-19  {border-radius: var(--small-19);}
.xl-border-radius-20  {border-radius: var(--small-20);}
}
/** l */
@media screen and (min-width:1025px) and (max-width:1280px){ 
.l-border-radius-1  {border-radius: var(--small-1);}
.l-border-radius-2  {border-radius: var(--small-2);}
.l-border-radius-3  {border-radius: var(--small-3);}
.l-border-radius-4  {border-radius: var(--small-4);}
.l-border-radius-5  {border-radius: var(--small-5);}
.l-border-radius-6  {border-radius: var(--small-6);}
.l-border-radius-7  {border-radius: var(--small-7);}
.l-border-radius-8  {border-radius: var(--small-8);}
.l-border-radius-9  {border-radius: var(--small-9);}
.l-border-radius-10  {border-radius: var(--small-10);}
.l-border-radius-11  {border-radius: var(--small-11);}
.l-border-radius-12  {border-radius: var(--small-12);}
.l-border-radius-13  {border-radius: var(--small-13);}
.l-border-radius-14  {border-radius: var(--small-14);}
.l-border-radius-15  {border-radius: var(--small-15);}
.l-border-radius-16  {border-radius: var(--small-16);}
.l-border-radius-17  {border-radius: var(--small-17);}
.l-border-radius-18  {border-radius: var(--small-18);}
.l-border-radius-19  {border-radius: var(--small-19);}
.l-border-radius-20  {border-radius: var(--small-20);}
}
/** m */
@media screen and (min-width:769px) and (max-width:1024px){ 
.m-border-radius-1  {border-radius: var(--small-1);}
.m-border-radius-2  {border-radius: var(--small-2);}
.m-border-radius-3  {border-radius: var(--small-3);}
.m-border-radius-4  {border-radius: var(--small-4);}
.m-border-radius-5  {border-radius: var(--small-5);}
.m-border-radius-6  {border-radius: var(--small-6);}
.m-border-radius-7  {border-radius: var(--small-7);}
.m-border-radius-8  {border-radius: var(--small-8);}
.m-border-radius-9  {border-radius: var(--small-9);}
.m-border-radius-10  {border-radius: var(--small-10);}
.m-border-radius-11  {border-radius: var(--small-11);}
.m-border-radius-12  {border-radius: var(--small-12);}
.m-border-radius-13  {border-radius: var(--small-13);}
.m-border-radius-14  {border-radius: var(--small-14);}
.m-border-radius-15  {border-radius: var(--small-15);}
.m-border-radius-16  {border-radius: var(--small-16);}
.m-border-radius-17  {border-radius: var(--small-17);}
.m-border-radius-18  {border-radius: var(--small-18);}
.m-border-radius-19  {border-radius: var(--small-19);}
.m-border-radius-20  {border-radius: var(--small-20);}
}
/** s */
@media screen and (min-width:641px) and (max-width:768px){
.s-border-radius-1  {border-radius: var(--small-1);}
.s-border-radius-2  {border-radius: var(--small-2);}
.s-border-radius-3  {border-radius: var(--small-3);}
.s-border-radius-4  {border-radius: var(--small-4);}
.s-border-radius-5  {border-radius: var(--small-5);}
.s-border-radius-6  {border-radius: var(--small-6);}
.s-border-radius-7  {border-radius: var(--small-7);}
.s-border-radius-8  {border-radius: var(--small-8);}
.s-border-radius-9  {border-radius: var(--small-9);}
.s-border-radius-10  {border-radius: var(--small-10);}
.s-border-radius-11  {border-radius: var(--small-11);}
.s-border-radius-12  {border-radius: var(--small-12);}
.s-border-radius-13  {border-radius: var(--small-13);}
.s-border-radius-14  {border-radius: var(--small-14);}
.s-border-radius-15  {border-radius: var(--small-15);}
.s-border-radius-16  {border-radius: var(--small-16);}
.s-border-radius-17  {border-radius: var(--small-17);}
.s-border-radius-18  {border-radius: var(--small-18);}
.s-border-radius-19  {border-radius: var(--small-19);}
.s-border-radius-20  {border-radius: var(--small-20);}
}
 /** xs */
@media screen and (max-width:640px){  
.xs-border-radius-1  {border-radius: var(--small-1);}
.xs-border-radius-2  {border-radius: var(--small-2);}
.xs-border-radius-3  {border-radius: var(--small-3);}
.xs-border-radius-4  {border-radius: var(--small-4);}
.xs-border-radius-5  {border-radius: var(--small-5);}
.xs-border-radius-6  {border-radius: var(--small-6);}
.xs-border-radius-7  {border-radius: var(--small-7);}
.xs-border-radius-8  {border-radius: var(--small-8);}
.xs-border-radius-9  {border-radius: var(--small-9);}
.xs-border-radius-10  {border-radius: var(--small-10);}
.xs-border-radius-11  {border-radius: var(--small-11);}
.xs-border-radius-12  {border-radius: var(--small-12);}
.xs-border-radius-13  {border-radius: var(--small-13);}
.xs-border-radius-14  {border-radius: var(--small-14);}
.xs-border-radius-15  {border-radius: var(--small-15);}
.xs-border-radius-16  {border-radius: var(--small-16);}
.xs-border-radius-17  {border-radius: var(--small-17);}
.xs-border-radius-18  {border-radius: var(--small-18);}
.xs-border-radius-19  {border-radius: var(--small-19);}
.xs-border-radius-20  {border-radius: var(--small-20);}
}