.color-purple-1{color:#6A0DAD;}/*True Purple*/
.color-purple-2{color:#D8BFD8;}/*Thistle*/
.color-purple-3{color:#DDA0DD;}/*Plum*/
.color-purple-4{color:#8F00FF;}/*Violet*/
.color-purple-5{color:#DA70D6;}/*Orchid*/
.color-purple-6{color:#FF00FF;}/*Fuchsia*/
.color-purple-7{color:#BA55D3;}/*Medium Orchid*/
.color-purple-8{color:#9370DB;}/*Medium Purple*/
.color-purple-9{color:#8A2BE2;}/*Blue Violet*/
.color-purple-10{color:#9400D3;}/*Dark Violet*/
.color-purple-11{color:#9932CC;}/*Dark Orchid*/
.color-purple-12{color:#8B008B;}/*Dark Magenta*/
.color-purple-13{color:#4B0082;}/*Indigo*/
.color-purple-14{color:#A020F0;}/*Veronica*/
.color-purple-15{color:#FAE6FA;}/*Pale Purple*/
.color-purple-16{color:#E0B0FF;}/*Mauve*/
.color-purple-17{color:#DF73FF;}/*Heliotrope*/
.color-purple-18{color:#DF00FF;}/*Phlox*/
.color-purple-19{color:#FE4EDA;}/*Purple Pizzazz*/
.color-purple-20{color:#DE6FA1;}/*Liserian Purple*/
.color-purple-21{color:#C54B8C;}/*Mulberry*/
.color-purple-22{color:#B768A2;}/*Pearly Purple*/
.color-purple-23{color:#9A4EAE;}/*Purpureus*/
.color-purple-24{color:#4E2A84;}/*Northwestern Purple*/
.color-purple-25{color:#512888;}/*KSU Purple*/
.color-purple-26{color:#86608E;}/*Pomp and Power*/
.color-purple-27{color:#880085;}/*Mardi Gras*/
.color-purple-28{color:#6C3082;}/*Eminence*/
.color-purple-29{color:#78184A;}/*Pansy Purple*/
.color-purple-30{color:#72246C;}/*Palatinate*/
.color-purple-31{color:#301934;}/*Dark Purple*/
.color-purple-32{color:#702963;}/*Byzantium*/
.color-purple-33{color:#B284BE;}/*African Violet*/
.color-purple-34{color:#9966CC;}/*Amethyst*/
.color-purple-35{color:#856088;}/*Chinese Violet*/
.color-purple-36{color:#563C5C;}/*English Violet*/
.color-purple-37{color:#32174D;}/*Russian Violet*/
.color-purple-38{color:#F2C1D1;}/*Fairy Tale*/
.color-purple-39{color:#B53389;}/*Fandango*/
.color-purple-40{color:#D473D4;}/*French Mauve*/
.color-purple-41{color:#6F4685;}/*Affair*/
.color-purple-42{color:#B0306A;}/*Boss’s Jokes*/
.color-purple-43{color:#9867C5;}/*Iris*/
.color-purple-44{color:#6F456E;}/*Long Distance*/
.color-purple-45{color:#493F5E;}/*Prince Charming*/
.color-purple-46{color:#8E4785;}/*Lipstick Stain*/
.color-purple-47{color:#720058;}/*Pompadour*/
.color-purple-48{color:#6F2DA8;}/*Grape Color*/
.color-purple-49{color:#2C041C;}/*Wine*/
.color-purple-50{color:#9A2CA0;}/*Pizza Edge*/
.color-purple-51{color:#66023C;}/*Tyrian Purple*/
.color-purple-52{color:#645394;}/*Ultra Violet*/
.color-purple-53{color:#7851A9;}/*Studio*/
.color-purple-54{color:#BF00FF;}/*Electric Purple*/
.color-purple-55{color:#311432;}/*Eggplant*/
.color-purple-56{color:#BE93E4;}/*Periwinkle Purple*/
.color-purple-57{color:#4D0F28;}/*Sangria*/
.color-purple-58{color:#290916;}/*Raisin*/
.color-purple-59{color:#997A8D;}/*Mountbatten Pink*/
.color-purple-60{color:#9C51B6;}/*Fuchsia Blue*/
.color-purple-61{color:#C9A0FF;}/*Good Tax*/
.color-purple-62{color:#67032F;}/*Jam*/
.color-purple-63{color:#410056;}/*Ripe Plum*/
.color-purple-64{color:#9E7BB5;}/*Heather*/
.color-purple-65{color:#A32CC4;}/*Magenta Purple*/
.color-purple-66{color:#9078C0;}/*Mountain’s Majesty*/
.color-purple-67{color:#796878;}/*Old Lavender*/
.color-purple-68{color:#663399;}/*Rebecca Purple*/
.color-purple-69{color:#8D4E85;}/*Razzmic Berry Purple*/
.color-purple-70{color:#673147;}/*Wine Dregs Purple*/
.color-purple-71{color:#522D80;}/*Regalia Purple*/
.color-purple-72{color:#8A496B;}/*Twilight Lavender Purple*/
.color-purple-73{color:#8E4585;}/*Traditional Purple*/
.color-purple-74{color:#4C2882;}/*Spanish Violet Purple*/
.color-purple-75{color:#602F6B;}/*Imperial Purple*/
.color-purple-76{color:#5B3256;}/*Japanese Violet Purple*/
.color-purple-77{color:#9F00C5;}/*Munsell Purple*/
.color-purple-78{color:#843F5B;}/*Deep Ruby Purple*/
.color-purple-79{color:#7442C8;}/*Purple Heart*/
.color-purple-80{color:#FFF0F5;}/*Lavender Blush*/
.color-purple-81{color:#CEA2FD;}/*Early Bird*/
.color-purple-82{color:#B65FCF;}/*Lilac*/
.color-purple-83{color:#50404D;}/*Purple Taupe*/
.color-purple-84{color:#58427C;}/*Cyber Grape Purple*/
.color-purple-85{color:#653780;}/*Kingfisher Daisy*/
.color-purple-86{color:#61346B;}/*Seance*/
.color-purple-87{color:#B6B5D8;}/*Lavender Gray*/
.color-purple-88{color:#D05FAD;}/*Hopbush*/
.color-purple-89{color:#6F3096;}/*Tacao*/
.color-purple-90{color:#D399E6;}/*Brilliant Purple*/
.color-purple-91{color:#4F284B;}/*Murasaki Purple*/
.color-purple-92{color:#291E29;}/*Blackish Purple*/
.color-purple-93{color:#7F38EC;}/*Lovely Purple*/
.color-purple-94{color:#3E2F84;}/*Vulgar Purple (Grape Jelly)*/
.color-purple-95{color:#4F2D7F;}/*University of Central Arkansas Purple*/
.color-purple-96{color:#660099;}/*FedEx Purple*/
.color-purple-97{color:#9B84A1;}/*Carolina Plum*/
.color-purple-98{color:#705160;}/*Kalamata*/
.color-purple-99{color:#540E32;}/*Black Currant*/
.color-purple-100{color:#551A8B;}/*Purple 4*/
.color-purple-101{color:#875692;}/*Strong Purple*/
.color-purple-102{color:#AA98A9;}/*Pale Purple*/
.color-purple-103{color:#870074;}/*Vivid Reddish Purple*/
.color-purple-104{color:#8968CD;}/*Medium Purple 3*/
.color-purple-105{color:#D982B5;}/*Middle Purple*/
.color-purple-106{color:#8A244E;}/*Cardinal*/
.color-purple-107{color:#3B343C;}/*Embassy Purple*/
.color-purple-107{color:#3B343C;}/*Embassy Purple*/
.color-purple-108{color:#552582;}/*Lakers Purple*/
.color-purple-109{color:#AB274F;}/*Amaranth Purple*/
.color-purple-110{color:#4E5180;}/*Purple Navy*/
.color-purple-111{color:#682E3C;}/*Insolent Purple*/
.color-purple-112{color:#A2627A;}/*Smyrna Purple*/
.color-purple-113{color:#592A8A;}/*East Carolina University Purple*/
.color-purple-114{color:#E9DCE5;}/*Little Princess*/
.color-purple-115{color:#502380;}/*Aesthetic Purple*/
.color-purple-116{color:#5D3F6A;}/*Kikyo-iru*/
.color-purple-118{color:#520E7D;}/*Metallic Purple*/
.color-purple-119{color:#A420D0;}/*Hot Purple*/
.color-purple-120{color:#795F80;}/*Faded Purple*/
.color-purple-121{color:#53277E;}/*Mythical Purple*/
.color-purple-122{color:#D6CADD;}/*Languid Lavender*/
.color-purple-124{color:#8D029B;}/*Mauveine*/
.color-purple-125{color:#7B679A;}/*Blue Lilac*/
.color-purple-126{color:#5D3954;}/*Dark Byzantium*/
.color-purple-127{color:#743089;}/*Luxury Purple*/
.color-purple-128{color:#893BFF;}/*Aztech Purple*/
.color-purple-129{color:#280353;}/*Baltimore Ravens Purple*/
.color-purple-130{color:#CC00CC;}/*Deep Magenta*/
.color-purple-131{color:#524F81;}/*Deep Purple*/
.color-purple-132{color:#593163;}/*Rustic Purple*/
.color-purple-133{color:#A865B5;}/*Sunset Purple*/
.color-purple-134{color:#C71585;}/*Artist’s Purple*/
.color-purple-135{color:#9861A5;}/*Dull Purple*/
.color-purple-136{color:#913073;}/*Traffic Purple*/
.color-purple-137{color:#392A48;}/*Matte Purple*/
.color-purple-138{color:#47243C;}/*Purple Violet*/
.color-purple-139{color:#6A317F;}/*Purple CMYK*/
.color-purple-140{color:#6E2D91;}/*Ocean Purple*/
.color-purple-141{color:#B941FF;}/*Shiny Purple*/
.color-purple-142{color:#834468;}/*Autumn Purple*/