.color-yellow-1{color:#FFFD37;}/*Sunshine Yellow*/
.color-yellow-2{color:#FFEF00;}/*Canary Yellow*/
.color-yellow-3{color:#FDFF00;}/*Lemon Yellow*/
.color-yellow-4{color:#DAA520;}/*Goldenrod*/
.color-yellow-5{color:#F4C430;}/*Saffron*/
.color-yellow-6{color:#E4D00A;}/*Citrine*/
.color-yellow-7{color:#D2B55B;}/*Trombone*/
.color-yellow-8{color:#FFFFE0;}/*Light Yellow*/
.color-yellow-9{color:#FFFACD;}/*Lemon Chiffon*/
.color-yellow-10{color:#EEDC82;}/*Flax*/
.color-yellow-11{color:#FAFAD2;}/*Light Goldenrod*/
.color-yellow-12{color:#EEE8AA;}/*Pale Goldenrod*/
.color-yellow-13{color:#F0E68C;}/*Light Khaki*/
.color-yellow-14{color:#FCE883;}/*Clover Lime*/
.color-yellow-15{color:#EEED09;}/*Xanthic*/
.color-yellow-16{color:#FADA5E;}/*Royal Yellow*/
.color-yellow-17{color:#FFFFCC;}/*Cream*/
.color-yellow-18{color:#FFD700;}/*Gold*/
.color-yellow-19{color:#EED202;}/*Safety Yellow*/
.color-yellow-20{color:#F8E473;}/*Laguna*/
.color-yellow-21{color:#E8AC41;}/*Hunyadi Yellow*/
.color-yellow-22{color:#FFFD01;}/*Bright Yellow*/
.color-yellow-23{color:#EEEA62;}/*Greenish Yellow*/
.color-yellow-24{color:#CFFF04;}/*Neon Yellow*/
.color-yellow-25{color:#D5B60A;}/*Dark Yellow*/
.color-yellow-26{color:#E2CA76;}/*Sand*/
.color-yellow-27{color:#FFDA03;}/*Sunflower*/
.color-yellow-28{color:#FCE205;}/*Bumblebee*/
.color-yellow-29{color:#FFFD74;}/*Butter*/
.color-yellow-30{color:#FFE36E;}/*Yellow Tan*/
.color-yellow-31{color:#FFD300;}/*Cyber Yellow*/
.color-yellow-32{color:#FFE135;}/*Banana*/
.color-yellow-33{color:#FCD12A;}/*Tuscany*/
.color-yellow-34{color:#FFC30B;}/*Honey*/
.color-yellow-35{color:#C49102;}/*Dijon*/
.color-yellow-36{color:#FFBF00;}/*Amber*/
.color-yellow-37{color:#F5F5DC;}/*Beige*/
.color-yellow-38{color:#FEDC56;}/*Mustard*/
.color-yellow-39{color:#FAFA37;}/*Maximum Yellow*/
.color-yellow-40{color:#F8DE7E;}/*Mellow Yellow*/
.color-yellow-41{color:#FFFF66;}/*Unmellow Yellow*/
.color-yellow-42{color:#CCA01D;}/*Lemon Curry*/
.color-yellow-43{color:#FFE4B5;}/*Moccasin*/
.color-yellow-44{color:#FFAD01;}/*Orange Yellow*/
.color-yellow-45{color:#FFFE71;}/*Pastel Yellow*/
.color-yellow-46{color:#FDB813;}/*Taxi Cab Yellow*/
.color-yellow-47{color:#FDEE00;}/*Aureolin*/
.color-yellow-48{color:#FFFF33;}/*Electric Yellow*/
.color-yellow-49{color:#DFFF00;}/*Chartreuse (traditional)*/
.color-yellow-50{color:#EEE600;}/*Titanium Yellow*/
.color-yellow-51{color:#FFC40C;}/*Mikado Yellow*/
.color-yellow-52{color:#CCFF00;}/*Fluorescent Yellow*/
.color-yellow-53{color:#E9D66B;}/*Arylide Yellow*/
.color-yellow-54{color:#E3A857;}/*Indian Yellow*/
.color-yellow-55{color:#E1BD27;}/*Durian Yellow*/
.color-yellow-56{color:#F5E050;}/*Minion Yellow*/
.color-yellow-57{color:#FFBA00;}/*Selective Yellow*/
.color-yellow-58{color:#FEFE22;}/*Laser Lemon*/
.color-yellow-59{color:#EFCC00;}/*Munsell Yellow*/
.color-yellow-60{color:#FFF000;}/*Yellow Rose*/
.color-yellow-61{color:#FFFFBF;}/*Very Pale Yellow*/
.color-yellow-62{color:#E1A95F;}/*Earth Yellow*/
.color-yellow-63{color:#FEDF00;}/*Yellow (Pantone)*/
.color-yellow-64{color:#FFCC00;}/*Tangerine Yellow*/
.color-yellow-65{color:#737000;}/*Bronze Yellow*/
.color-yellow-66{color:#FFF53D;}/*Psychedelic Yellow*/
.color-yellow-67{color:#DB9100;}/*Maize Yellow (RAL)*/
.color-yellow-68{color:#E0D268;}/*Muted Yellow*/
.color-yellow-69{color:#E8DE35;}/*Sulfur Yellow*/
.color-yellow-70{color:#CEB00D;}/*Yellow Jasmine*/
.color-yellow-71{color:#D4CC9A;}/*Dusty Yellow*/
.color-yellow-72{color:#E2B051;}/*Yolk Yellow (Pantone)*/
.color-yellow-73{color:#FFCA37;}/*Light Chrome Yellow*/
.color-yellow-74{color:#FFF23E;}/*Cadmium Yellow Lemon*/
.color-yellow-75{color:#FFDA29;}/*Vibrant Yellow*/
.color-yellow-76{color:#FFFF00;}/*Yellow CMYK*/
.color-yellow-77{color:#FEDE17;}/*Fire Yellow*/
.color-yellow-78{color:#F1BF70;}/*Buff Yellow*/
.color-yellow-79{color:#EFDC75;}/*Yellow Cream*/
.color-yellow-80{color:#F7D000;}/*Empire Yellow*/
.color-yellow-81{color:#F2CB2E;}/*Zinc Yellow (RAL)*/
.color-yellow-82{color:#F2A900;}/*Signal Yellow*/
.color-yellow-83{color:#EDD94C;}/*Matte Yellow*/
.color-yellow-84{color:#EFD033;}/*Aesthetic Yellow*/
.color-yellow-85{color:#E2C400;}/*Rustic Yellow*/
.color-yellow-86{color:#FFFFA7;}/*Pale Yellow*/
.color-yellow-87{color:#EEB700;}/*Colza Yellow*/
.color-yellow-88{color:#F4ECC2;}/*Transparent Yellow*/
.color-yellow-89{color:#FEE715;}/*Blazing Yellow*/
.color-yellow-90{color:#EDEEB7;}/*Tender Yellow*/
.color-yellow-91{color:#DFE69F;}/*Pale Lime Yellow*/
.color-yellow-92{color:#CBA92B;}/*Vintage Yellow*/
.color-yellow-93{color:#FCE517;}/*Spectrum Yellow*/
.color-yellow-94{color:#F0E27B;}/*Retro Yellow*/
.color-yellow-95{color:#C8AF55;}/*Old Yellow*/
.color-yellow-96{color:#FFB200;}/*Chinese Yellow*/
.color-yellow-97{color:#F9D73D;}/*Spanish Yellow*/
.color-yellow-98{color:#FFE992;}/*Refresh Yellow*/
.color-yellow-99{color:#EA9300;}/*Sun Yellow (RAL)*/
.color-yellow-100{color:#FCEF91;}/*Baby Yellow*/
.color-yellow-101{color:#F39B1B;}/*Dahlia Yellow (RAL)*/
.color-yellow-102{color:#DBA400;}/*Broom Yellow*/
.color-yellow-103{color:#978942;}/*Camouflage Yellow*/
.color-yellow-104{color:#EEBE15;}/*Trust Yellow*/
.color-yellow-105{color:#F4E98C;}/*Warm Yellow*/
.color-yellow-106{color:#FFE302;}/*Vivid Yellow*/
.color-yellow-107{color:#F0CA28;}/*Turmeric*/
.color-yellow-108{color:#FFCC33;}/*Sunglow*/
.color-yellow-109{color:#FFE797;}/*Light Saffron*/
.color-yellow-110{color:#FAE500;}/*Radioactive*/
.color-yellow-111{color:#FCC200;}/*Golden Poppy*/
.color-yellow-112{color:#E2BF36;}/*Real Gold*/
.color-yellow-113{color:#FAE481;}/*Glossy Gold*/
.color-yellow-114{color:#FFFC00;}/*Snapchat Yellow*/
.color-yellow-115{color:#FFB045;}/*Deep Chrome Yellow (Ferrario)*/
.color-yellow-116{color:#FF9C00;}/*Melon Yellow*/
.color-yellow-118{color:#FFE41E;}/*Bright Canary Yellow*/
.color-yellow-119{color:#FFCF99;}/*Deep Napoli Yellow*/
.color-yellow-120{color:#FC9E21;}/*Radiant Yellow*/
.color-yellow-121{color:#E28D00;}/*Daffodil Yellow*/
.color-yellow-122{color:#D39C43;}/*Mineral Yellow*/
.color-yellow-124{color:#F3E496;}/*Relax Yellow*/
.color-yellow-125{color:#F5DE10;}/*Rainbow Yellow*/
.color-yellow-126{color:#EACE09;}/*Deep Yellow*/
.color-yellow-127{color:#B5904B;}/*Ochre Yellow*/
.color-yellow-128{color:#DECA57;}/*Dull Yellow*/
.color-yellow-129{color:#FFDA00;}/*Hot Yellow*/
.color-yellow-130{color:#EFB700;}/*Traffic Yellow (RAL)*/
.color-yellow-131{color:#D56F00;}/*Yellow Orange*/
.color-yellow-132{color:#9D8F65;}/*Olive Yellow (RAL)*/
.color-yellow-133{color:#ECE3A1;}/*Faded Yellow*/
.color-yellow-134{color:#FFE81C;}/*Solid Yellow*/
.color-yellow-135{color:#DD9F00;}/*Golden Yellow (RAL)*/
.color-yellow-136{color:#FBEC5D;}/*Corn*/
.color-yellow-137{color:#F0E130;}/*Dandelion*/
.color-yellow-138{color:#FCF75E;}/*Icterine*/
.color-yellow-139{color:#ECD540;}/*Sandstorm*/
.color-yellow-140{color:#F9E076;}/*Macaroon*/
.color-yellow-141{color:#E1AD21;}/*Urobilin*/
.color-yellow-142{color:#CBA135;}/*Satin Sheen Gold*/
.color-yellow-143{color:#FFD800;}/*School Bus Yellow*/
.color-yellow-144{color:#EDC001;}/*British Standard BS 4800 10 E 51 Yellow*/
.color-yellow-145{color:#FFF4BC;}/*Mimosa*/
.color-yellow-146{color:#FCB810;}/*Marigold*/
.color-yellow-147{color:#F8DC75;}/*Daisy Yellow*/