.color-white{color:#FFFFFF;}/*White*/
.color-white-1{color:#FFFFFF;}/*White*/
.color-white-2{color:#F8F8FF;}/*Ghost White*/
.color-white-3{color:#F5F5F5;}/*White Smoke*/
.color-white-4{color:#FEFEFA;}/*Baby Powder*/
.color-white-5{color:#F5FEFD;}/*Snow*/
.color-white-6{color:#FFFFF0;}/*Ivory*/
.color-white-7{color:#FFFAF0;}/*Floral White*/
.color-white-8{color:#FFF5EE;}/*Seashell*/
.color-white-9{color:#FFF8DC;}/*Cornsilk*/
.color-white-10{color:#FDF5E6;}/*Old Lace*/
.color-white-11{color:#FFFDD0;}/*Cream*/
.color-white-12{color:#F5F5DC;}/*Beige*/
.color-white-13{color:#F1E9D2;}/*Parchment*/
.color-white-14{color:#FAEBD7;}/*Antique White*/
.color-white-15{color:#F7E7CE;}/*Champagne*/
.color-white-16{color:#F0EAD6;}/*Eggshell*/
.color-white-17{color:#EFDFBB;}/*Dutch White*/
.color-white-18{color:#E3DAC9;}/*Bone*/
.color-white-19{color:#F3E5AB;}/*Vanilla*/
.color-white-20{color:#EEDC82;}/*Flax*/
.color-white-21{color:#FFDEAD;}/*Navajo White*/
.color-white-22{color:#EDEAE0;}/*Alabaster*/
.color-white-23{color:#FFFACD;}/*Chiffon*/
.color-white-24{color:#F3F2ED;}/*Unresolved Problem*/
.color-white-25{color:#F0EEE4;}/*Old Wood*/
.color-white-26{color:#FFFAFA;}/*Rose White*/
.color-white-27{color:#FDFCFA;}/*Vista White*/
.color-white-28{color:#ECF3F9;}/*Link White*/
.color-white-29{color:#F3F0E8;}/*Spring*/
.color-white-30{color:#F8FBF8;}/*Snow Drift*/
.color-white-31{color:#F1F9EC;}/*Peppermint*/
.color-white-32{color:#F2EBDD;}/*Merino*/
.color-white-33{color:#FFFFE4;}/*Half and Half*/
.color-white-34{color:#FFFCEC;}/*Island Spice*/
.color-white-35{color:#F6F1F4;}/*Soft Peach*/
.color-white-36{color:#EBF5F0;}/*Harp*/
.color-white-37{color:#EEEEFF;}/*Titan White*/
.color-white-38{color:#EAF4FC;}/*Audience Anger*/
.color-white-39{color:#F8F9F5;}/*Orange White*/
.color-white-40{color:#F6F4F1;}/*Cough Mixture*/
.color-white-41{color:#F3DECA;}/*Albescent White*/
.color-white-42{color:#FFF1E6;}/*Coconut*/
.color-white-43{color:#F8EEEC;}/*Pink Salt*/
.color-white-44{color:#FCFBFC;}/*Frost*/
.color-white-45{color:#F3EAD3;}/*Linen*/
.color-white-46{color:#FAF5EF;}/*Rice*/
.color-white-47{color:#FAFAFA;}/*Daisy*/
.color-white-48{color:#FBFCFA;}/*Powder*/
.color-white-49{color:#FBFCF8;}/*Pearl*/
.color-white-50{color:#C2D8D3;}/*Paris White*/
.color-white-51{color:#EBF6F7;}/*Cup Cake*/
.color-white-52{color:#F0EFE7;}/*White Dove*/
.color-white-53{color:#EAE8E1;}/*White Whisper*/
.color-white-54{color:#E7EAEA;}/*Lexicon*/
.color-white-55{color:#F0EBE3;}/*Greek Villa*/
.color-white-56{color:#E7E8E2;}/*White Diamond*/
.color-white-57{color:#ECEFEC;}/*Decorator’s White*/
.color-white-58{color:#DFDFD5;}/*Winter White*/
.color-white-59{color:#DEDDDB;}/*Spatial White*/
.color-white-60{color:#EBE4D8;}/*Hog Bristle Quarter*/
.color-white-61{color:#EFEDE3;}/*Simply White*/
.color-white-62{color:#E3DFD2;}/*Oyster White*/
.color-white-63{color:#EDEFEF;}/*White on White*/
.color-white-64{color:#F2F2F1;}/*Lexicon Quarter*/
.color-white-65{color:#F0F8FF;}/*Alice Blue*/
.color-white-66{color:#F0FFF0;}/*Honeydew*/
.color-white-67{color:#F5FFFA;}/*Mint Cream*/
.color-white-68{color:#FDFFF5;}/*Milk*/
.color-white-69{color:#F9FFE3;}/*Pomelo White*/
.color-white-70{color:#F2F3F4;}/*Anti-Flash White*/
.color-white-71{color:#F8F4FF;}/*Magnolia*/
.color-white-72{color:#F0FFFF;}/*Azure*/
.color-white-73{color:#F1F0E5;}/*Huntington White*/
.color-white-74{color:#F4EFE3;}/*Acadia White*/
.color-white-75{color:#DCDCDC;}/*Gainsboro*/
.color-white-76{color:#E7E7E7;}/*Mercury*/
.color-white-77{color:#FFF0F5;}/*Lavender Blush*/
.color-white-78{color:#F4F0EC;}/*Isabelline*/
.color-white-79{color:#E7FEFF;}/*Bubbles*/
.color-white-80{color:#E6E8FA;}/*Glitter*/
.color-white-81{color:#E5E4E2;}/*Platinum*/
.color-white-82{color:#FFF8E7;}/*Cosmic Latte*/
.color-white-83{color:#FFEBCD;}/*Blanched Almond*/
.color-white-84{color:#FFFFE0;}/*Light Yellow*/
.color-white-85{color:#FFFFFF;}/*Natural White*/
.color-white-86{color:#F9F9F9;}/*Vivid White*/
.color-white-87{color:#F5F5F5;}/*White Wisp*/
.color-white-88{color:#D1D5D8;}/*Azureish White*/
.color-white-89{color:#DBD7D2;}/*Timberwolf*/
.color-white-90{color:#FFEFD5;}/*Papaya Whip*/
.color-white-91{color:#FAEBD7;}/*Antique White USA*/
.color-white-92{color:#3C2F2F;}/*Cola*/
.color-white-93{color:#F7F3E9;}/*Atrium White*/
.color-white-94{color:#E4E8E9;}/*Cascading White*/
.color-white-95{color:#FDFDFD;}/*Cotton Ball*/
.color-white-96{color:#F2F3F4;}/*Photon White*/
.color-white-97{color:#F8F7F5;}/*White Heat*/
.color-white-98{color:#FDF7E7;}/*Whitewash*/
.color-white-99{color:#F5F5F4;}/*Shadow White*/
.color-white-100{color:#F7F3F2;}/*Abbey White*/
.color-white-101{color:#FBFCFC;}/*Acoustic White*/
.color-white-102{color:#F8F7F1;}/*Aircraft White*/
.color-white-103{color:#FDF6E9;}/*Ceramic*/
.color-white-104{color:#FFFFFF;}/*Coconut Butter*/
.color-white-105{color:#FFFFFF;}/*Abstract White*/
.color-white-106{color:#FCFCFC;}/*Bright White*/
.color-white-107{color:#FFFFFF;}/*Broken White*/
.color-white-108{color:#FAFAFA;}/*Brilliant White*/
.color-white-109{color:#EAF9F5;}/*Commercial White*/
.color-white-110{color:#EEE7DC;}/*Feather White*/
.color-white-111{color:#F8F8F7;}/*Swan White*/
.color-white-112{color:#F2F3EF;}/*Polar Bear*/
.color-white-113{color:#F8F8F7;}/*Paper White*/
.color-white-114{color:#E8EAE6;}/*Pacific Pearl*/
.color-white-115{color:#E1E1DD;}/*Night White*/
.color-white-116{color:#F1F2EE;}/*Delicate White*/
.color-white-118{color:#E9EDF6;}/*Coconut White*/
.color-white-119{color:#F0EDDB;}/*Cake Batter*/
.color-white-120{color:#ECE9E4;}/*White Sand*/
.color-white-121{color:#FBF6F0;}/*Stone White*/
.color-white-122{color:#EDE6D6;}/*White Chocolate*/
.color-white-123{color:#EDEAE2;}/*Retro White*/