.color-green-1{color:#0B6623;}/*Forest green*/
.color-green-2{color:#708238;}/*Olive*/
.color-green-3{color:#3F704D;}/*Hunter green*/
.color-green-4{color:#8F9779;}/*Artichoke green*/
.color-green-5{color:#29AB87;}/*Jungle green*/
.color-green-6{color:#00755E;}/*Tropical Rainforest*/
.color-green-7{color:#3B7A57;}/*Amazon*/
.color-green-8{color:#004B49;}/*Deep Jungle green*/
.color-green-9{color:#1C352D;}/*Medium Jungle green*/
.color-green-10{color:#1A2421;}/*Dark Jungle green*/
.color-green-11{color:#8A9A5B;}/*Moss green*/
.color-green-12{color:#317873;}/*Myrtle Green*/
.color-green-13{color:#01796F;}/*Pine Green*/
.color-green-14{color:#00A693;}/*Persian Green*/
.color-green-15{color:#50C878;}/*Emerald Green*/
.color-green-16{color:#39FF14;}/*Neon Green*/
.color-green-17{color:#043927;}/*Sacramento Green*/
.color-green-18{color:#2E8B57;}/*Sea Green*/
.color-green-19{color:#9DC183;}/*Sage Green*/
.color-green-20{color:#C7EA46;}/*Lime Green*/
.color-green-21{color:#00A86B;}/*Jade Green*/
.color-green-22{color:#4F7942;}/*Fern Green*/
.color-green-23{color:#A9BA9D;}/*Laurel Green*/
.color-green-24{color:#98FB98;}/*Mint Green*/
.color-green-25{color:#D0F0C0;}/*Tea Green*/
.color-green-26{color:#4B5320;}/*Army Green*/
.color-green-27{color:#4CBB17;}/*Kelly Green*/
.color-green-28{color:#679267;}/*Russian Green*/
.color-green-29{color:#50C878;}/*Paris Green*/
.color-green-30{color:#006600;}/*Pakistan Green*/
.color-green-31{color:#004953;}/*Midnight Green*/
.color-green-32{color:#138808;}/*India green*/
.color-green-33{color:#355E3B;}/*Hunter green*/
.color-green-34{color:#ACE1AF;}/*Celadon*/
.color-green-35{color:#568203;}/*Avocado*/
.color-green-36{color:#3FFF00;}/*Harlequin*/
.color-green-37{color:#00F0A8;}/*Spring*/
.color-green-38{color:#004830;}/*Kaitoke*/
.color-green-39{color:#76FF7A;}/*Screamin’ Green*/
.color-green-40{color:#48A860;}/*Chateau*/
.color-green-41{color:#4A5D23;}/*Dark Moss Green*/
.color-green-42{color:#A8C090;}/*Swamp*/
.color-green-43{color:#74C365;}/*Mantis*/
.color-green-44{color:#007848;}/*Fun*/
.color-green-45{color:#4B6F44;}/*Pantone Artichoke Green*/
.color-green-46{color:#609078;}/*Viridian*/
.color-green-47{color:#6C7C59;}/*Reseda Green*/
.color-green-48{color:#F0FFF0;}/*Chetwode*/
.color-green-49{color:#009E60;}/*Shamrock Green*/
.color-green-50{color:#487800;}/*Verdun*/
.color-green-51{color:#00563B;}/*Castleton Green*/
.color-green-52{color:#D8E4BC;}/*Gin*/
.color-green-53{color:#A8E4A0;}/*Granny Smith Apple*/
.color-green-54{color:#BFFF00;}/*Bitter Lime*/
.color-green-55{color:#4FFFB0;}/*Bright Mint*/
.color-green-56{color:#006A4E;}/*Bottle Green*/
.color-green-57{color:#006B3C;}/*Cadmium Green*/
.color-green-58{color:#78866B;}/*Camouflage Green*/
.color-green-59{color:#D1E231;}/*Pear*/
.color-green-60{color:#85BB65;}/*Dollar Bill*/
.color-green-61{color:#B2EC5D;}/*Inchworm*/
.color-green-62{color:#87A96B;}/*Asparagus*/
.color-green-63{color:#00CC99;}/*Caribbean Green*/
.color-green-64{color:#00AB66;}/*GO Green*/
.color-green-65{color:#123524;}/*Phthalo Green*/
.color-green-66{color:#2A8000;}/*Napier Green*/
.color-green-67{color:#4D5D53;}/*Feldgrau*/
.color-green-68{color:#ADFF2F;}/*Green-Yellow*/
.color-green-69{color:#0BDA51;}/*Malachite*/
.color-green-70{color:#444C38;}/*Rifle Green*/
.color-green-71{color:#CEFF00;}/*Volt*/
.color-green-72{color:#004225;}/*British Racing Green*/
.color-green-72{color:#004225;}/*British Racing Green*/
.color-green-73{color:#5EDC1F;}/*Thyme*/
.color-green-74{color:#7FFF00;}/*Chartreuse*/
.color-green-75{color:#71A92C;}/*Corn Green*/
.color-green-76{color:#C4D300;}/*Shrek Green*/
.color-green-77{color:#00873E;}/*Christmas Green*/
.color-green-78{color:#009A44;}/*Irish Green*/
.color-green-79{color:#01735C;}/*Road Sign Green*/
.color-green-80{color:#2FF924;}/*Lightsaber Green*/
.color-green-81{color:#00AE58;}/*Girl Scout Green*/
.color-green-82{color:#6C935C;}/*Tennis Court Green*/
.color-green-83{color:#A7FC00;}/*Spring Bud*/
.color-green-84{color:#D0DB61;}/*Chinese Green*/
.color-green-85{color:#D0FF14;}/*Arctic Lime*/
.color-green-86{color:#E9FFDB;}/*Nyanza*/
.color-green-87{color:#76BA1B;}/*Dark Lemon-Lime*/
.color-green-88{color:#ACDF87;}/*Crayola Yellow-Green*/
.color-green-89{color:#4C9A2A;}/*Maximum Green*/
.color-green-90{color:#A4DE02;}/*Vivid Lime Green*/
.color-green-91{color:#93C572;}/*Pistachio*/
.color-green-92{color:#00FA9A;}/*Medium Spring Green*/
.color-green-93{color:#8FD400;}/*Sheen Green*/
.color-green-94{color:#087830;}/*La Salle Green*/
.color-green-95{color:#007F5C;}/*Spanish Viridian*/
.color-green-96{color:#00703C;}/*Dartmouth Green*/
.color-green-97{color:#454D32;}/*Pine Needle Color*/
.color-green-98{color:#6B8E23;}/*Olive Drab*/
.color-green-99{color:#7CFC00;}/*Lawn Green*/
.color-green-100{color:#738678;}/*Xanadu*/
.color-green-101{color:#556B2F;}/*Dark Olive Green*/
.color-green-102{color:#8FBC8F;}/*Dark Sea Green*/
.color-green-103{color:#00A877;}/*Green (Munsell)*/
.color-green-104{color:#306030;}/*Mughal Green*/
.color-green-105{color:#367C2B;}/*John Deere Green*/
.color-green-106{color:#008000;}/*Office Green*/
.color-green-107{color:#9DC209;}/*Limerick*/
.color-green-108{color:#D9E650;}/*Maximum Green Yellow*/
.color-green-109{color:#9EFD38;}/*French Lime*/
.color-green-110{color:#C9DC87;}/*Medium Spring Bud*/
.color-green-111{color:#3CD070;}/*UFO Green*/
.color-green-112{color:#B0BF1A;}/*Acid Green*/
.color-green-113{color:#4AFF00;}/*Chlorophyll Green*/
.color-green-114{color:#A7F432;}/*Green Lizard*/
.color-green-115{color:#71BC78;}/*Iguana Green*/
.color-green-116{color:#354230;}/*Kombu Green*/
.color-green-118{color:#4D8C57;}/*Middle Green*/
.color-green-119{color:#009B7D;}/*Paolo Veronese Green*/
.color-green-120{color:#3B331C;}/*Pullman Green*/
.color-green-121{color:#00B140;}/*Green Screen*/
.color-green-122{color:#A4C639;}/*Android Green*/
.color-green-124{color:#CAE00D;}/*Bitter Lemon*/
.color-green-125{color:#34B233;}/*Wageningen Green*/
.color-green-126{color:#507D2A;}/*Sap Green*/
.color-green-127{color:#867E36;}/*Old Moss Green*/
.color-green-128{color:#299617;}/*Slimy Green*/
.color-green-129{color:#64E986;}/*Very Light Malachite Green*/
.color-green-130{color:#177245;}/*Dark Spring Green*/
.color-green-131{color:#00FF7F;}/*Guppie Green*/
.color-green-132{color:#8DB600;}/*Apple Green*/
.color-green-133{color:#056608;}/*Deep Green*/
.color-green-134{color:#49796B;}/*Hooker’s Green*/
.color-green-135{color:#3CB371;}/*Medium Sea Green*/
.color-green-136{color:#A0D6B4;}/*Turquoise Green*/
