.color-red { color: #FF0000; } /* True Red */
.color-red-1 { color: #ed2939; } /* Imperial Red */
.color-red-2 { color: #ff2400; } /* Scarlet */
.color-red-3 { color: #cd5c5c; } /* Indian Red */
.color-red-4 { color: #7c0a02; } /* Barn Red */
.color-red-5 { color: #c21807; } /* Chili Red */
.color-red-6 { color: #e0115f; } /* Ruby */
.color-red-7 { color: #800000; } /* Maroon */
.color-red-8 { color: #b22222; } /* Fire Brick */
.color-red-9 { color: #a45a52; } /* Redwood */
.color-red-10 { color: #960018; } /* Carmine */
.color-red-11 { color: #ea3c53; } /* Desire */
.color-red-12 { color: #7e191b; } /* Vermilion */
.color-red-13 { color: #d21f3c; } /* Raspberry */
.color-red-14 { color: #ff0800; } /* Candy Apple */
.color-red-15 { color: #ca3433; } /* Persian */
.color-red-16 { color: #b43757; } /* Hibiscus */
.color-red-17 { color: #bf0a30; } /* U.S. Flag */
.color-red-18 { color: #ff2800; } /* Ferrari */
.color-red-19 { color: #5e1914; } /* Sangria */
.color-red-20 { color: #420d09; } /* Mahogany */
.color-red-21 { color: #8D021F; } /* Burgundy */
.color-red-22 { color: #B80F0A; } /* Crimson */
.color-red-23 { color: #933A16; } /* Rust */
.color-red-24 { color: #FFA07A; } /* Light Salmon */
.color-red-25 { color: #FA8072; } /* Salmon */
.color-red-26 { color: #E9967A; } /* Dark Salmon */
.color-red-27 { color: #F08080; } /* Light Coral */
.color-red-28 { color: #FF0000; } /* True Red */
.color-red-29 { color: #8B0000; } /* Dark Red */
.color-red-30 { color: #FF6347; } /* Tomato */
.color-red-31 { color: #FF4500; } /* Orange Red */
.color-red-32 { color: #DB7093; } /* Pale Violet Red */
.color-red-33 { color: #FB607F; } /* Light Brick */
.color-red-34 { color: #7E2811; } /* Brick */
.color-red-35 { color: #D03D33; } /* Prismatic Red */
.color-red-36 { color: #BA1607; } /* Prismatic Legacy */
.color-red-37 { color: #CA0123; } /* Prismatic Vermilion Renewal */
.color-red-38 { color: #FF3C28; } /* Prismatic Reflection's Shade */
.color-red-39 { color: #AA0000; } /* 49ers Red */
.color-red-40 { color: #BD2031; } /* AZ Cardinals Red */
.color-red-41 { color: #FF5A5F; } /* Airbnb Red */
.color-red-42 { color: #D2122E; } /* Ajax Red */
.color-red-43 { color: #9E1B32; } /* Alabama Crimson */
.color-red-44 { color: #E32636; } /* Alizarin Crimson */
.color-red-45 { color: #F4364C; } /* Amaranth Red */
.color-red-46 { color: #FF033E; } /* American Rose */
.color-red-47 { color: #BA0021; } /* Angels Red */
.color-red-48 { color: #E5B39B; } /* Almost Apricot Red */
.color-red-49 { color: #DB0007; } /* Arsenal Red */
.color-red-50 { color: #A52A2A; } /* Auburn Red */
.color-red-51 { color: #CC0000; } /* BU Scarlet */
.color-red-52 { color: #C60C30; } /* Bills Red */
.color-red-53 { color: #BF4F51; } /* Bittersweet Shimmer Red */
.color-red-54 { color: #660000; } /* Blood Red */
.color-red-55 { color: #E03C31; } /* CG Red */
.color-red-56 { color: #E30022; } /* Cadmium Red */
.color-red-57 { color: #C41E3A; } /* Cardinal Red */
.color-red-58 { color: #B31B1B; } /* Carnelian Red */
.color-red-59 { color: #DE3163; } /* Cerise Red */
.color-red-60 { color: #E31837; } /* Chiefs Red */
.color-red-61 { color: #58111A; } /* Chocolate Cosmos Red */
.color-red-62 { color: #C6011F; } /* Cincinnati Red */
.color-red-63 { color: #E44D2E; } /* Cinnabar Red */
.color-red-64 { color: #F40009; } /* Coke Red */
.color-red-65 { color: #FF3800; } /* Coquelicot Red */
.color-red-66 { color: #FF7F50; } /* Coral Red */
.color-red-67 { color: #893F45; } /* Cordovan Red */
.color-red-68 { color: #EE204D; } /* Crayola Red */
.color-red-69 { color: #FF003F; } /* Electric Crimson */
.color-red-70 { color: #AB4B52; } /* English Red */
.color-red-71 { color: #A71930; } /* Falcons Red */
.color-red-72 { color: #801818; } /* Falu Red */
.color-red-73 { color: #CE2029; } /* Fire Engine Red */
.color-red-74 { color: #E25822; } /* Flame Red */
.color-red-75 { color: #FF004F; } /* Folly Red */
.color-red-76 { color: #4E1609; } /* French Puce Red */
.color-red-77 { color: #FF00FF; } /* Fuchsia */
.color-red-78 { color: #CC6666; } /* Fuzzy Wuzzy Red */
.color-red-79 { color: #733635; } /* Garnet Red */
.color-red-80 { color: #A51C30; } /* Harvard Crimson */
.color-red-81 { color: #F400A1; } /* Hollywood Cerise Red */
.color-red-82 { color: #E41C38; } /* Husker Red */
.color-red-83 { color: #9D2933; } /* Japanese Carmine */
.color-red-84 { color: #D73B3E; } /* Jasper Red */
.color-red-85 { color: #DA614E; } /* Jelly Bean Red */
.color-red-86 { color: #7C1C05; } /* Kenyan Copper Red */
.color-red-87 { color: #CF1020; } /* Lava Red */
.color-red-88 { color: #C8102E; } /* Liverpool Red */
.color-red-89 { color: #E62020; } /* Lust Red */
.color-red-90 { color: #A31F34; } /* MIT Red */
.color-red-91 { color: #A50021; } /* Madder Red */
.color-red-92 { color: #FF0090; } /* Pigment Magenta */
.color-red-93 { color: #DA291C; } /* Manchester United Red */
.color-red-94 { color: #C71585; } /* Medium Violet Red */
.color-red-95 { color: #F2003C; } /* Munsell Red */
.color-red-96 { color: #C40233; } /* NCS Red */
.color-red-97 { color: #AB0003; } /* Nationals Red */
.color-red-98 { color: #841617; } /* Oklahoma Crimson */
.color-red-99 { color: #800020; } /* Oxblood Red */
.color-red-100 { color: #FF6961; } /* Pastel Red */
.color-red-101{color:#990000;}/*Penn Red*/
.color-red-102{color:#FE28A2;}/*Persian Rose Red*/
.color-red-103{color:#E81828;}/*Phillies Red*/
.color-red-104{color:#ED1C24;}/*Pigment Red*/
.color-red-105{color:#E60023;}/*Pinterest Red*/
.color-red-106{color:#BE4F62;}/*Popstar Red*/
.color-red-107{color:#FF5A36;}/*Portland Orange Red*/
.color-red-108{color:#701C1C;}/*Prune Red*/
.color-red-109{color:#FF355E;}/*Radical Red*/
.color-red-110{color:#860111;}/*Red Devil*/
.color-red-111{color:#BD3039;}/*Red Sox*/
.color-red-112{color:#C21E56;}/*Rose Red*/
.color-red-113{color:#65000B;}/*Rosewood Red*/
.color-red-114{color:#A81C07;}/*Rufous Red*/
.color-red-115{color:#80461B;}/*Russet Red*/
.color-red-116{color:#DA2C43;}/*Rusty Red*/
.color-red-118{color:#BC3F4A;}/*Sanguine Red*/
.color-red-119{color:#E60026;}/*Spanish Red*/
.color-red-120{color:#E4717A;}/*Tango Red*/
.color-red-121{color:#CD5700;}/*Tawny Red*/
.color-red-122{color:#F88379;}/*Tea Rose Red*/
.color-red-123{color:#E2725B;}/*Terracotta Red*/
.color-red-124{color:#FD0E35;}/*Tractor Red*/
.color-red-125{color:#A91101;}/*Turkey Red*/
.color-red-126{color:#7C3030;}/*Tuscan Red*/
.color-red-127{color:#AE2029;}/*Upsdell Red*/
.color-red-128{color:#C80815;}/*Venetian Red*/
.color-red-129{color:#E4181E;}/*Virgin Lust Red*/
.color-red-130{color:#722F37;}/*Wine Red*/
.color-red-131{color:#E97451;}/*Light Red Ochre*/
.color-red-132{color:#D9603B;}/*Medium Vermillion*/
.color-red-133{color:#7B1113;}/*UP Maroon*/
.color-red-134{color:#FF6E4A;}/*Outrageous Orange Red*/
.color-red-135{color:#D3003F;}/*Utah Crimson*/