.color-orange-1{color:#FF8C00;}/*Dark Orange*/
.color-orange-2{color:#FF5E0E;}/*Vivid Orange*/
.color-orange-3{color:#FF4500;}/*Orange-Red*/
.color-orange-4{color:#FF6347;}/*Tomato*/
.color-orange-5{color:#E26310;}/*Metallic Orange*/
.color-orange-6{color:#F5761A;}/*Pumpkin*/
.color-orange-7{color:#FD673A;}/*Smashed Pumpkin*/
.color-orange-8{color:#FFA836;}/*Yellow-Orange*/
.color-orange-9{color:#ED9121;}/*Carrot Orange*/
.color-orange-10{color:#FF4F00;}/*International Orange*/
.color-orange-11{color:#F06105;}/*Spanish Orange*/
.color-orange-12{color:#F78702;}/*Tangerine*/
.color-orange-13{color:#FF8F00;}/*Princeton Orange*/
.color-orange-14{color:#FB4F14;}/*Orioles Orange*/
.color-orange-15{color:#FFA52C;}/*Deep Saffron*/
.color-orange-16{color:#C35214;}/*Alloy Orange*/
.color-orange-17{color:#EE5921;}/*Halloween Orange*/
.color-orange-18{color:#FC4C02;}/*Tangelo*/
.color-orange-19{color:#E89611;}/*Gamboge*/
.color-orange-20{color:#D74826;}/*Vermilion*/
.color-orange-21{color:#CF5B2E;}/*Medium Vermilion*/
.color-orange-22{color:#E68000;}/*Fulvous*/
.color-orange-23{color:#FEBA4F;}/*Pastel Orange*/
.color-orange-24{color:#E34A27;}/*Flame*/
.color-orange-25{color:#F26E01;}/*Philippine Orange*/
.color-orange-26{color:#F28F1C;}/*Beer Orange*/
.color-orange-27{color:#EB6841;}/*Chinese Orange*/
.color-orange-28{color:#E89149;}/*Jasper Orange*/
.color-orange-29{color:#FF9944;}/*Royal Orange*/
.color-orange-30{color:#FF7F50;}/*Coral*/
.color-orange-31{color:#D75341;}/*Dark Coral*/
.color-orange-32{color:#E6812F;}/*Cadmium Orange*/
.color-orange-33{color:#C34723;}/*Dark Pastel Red*/
.color-orange-34{color:#D97448;}/*Copper Red*/
.color-orange-35{color:#F77F00;}/*University Of Tennessee Orange*/
.color-orange-36{color:#FABA5F;}/*Rajah*/
.color-orange-37{color:#FB8842;}/*Mango Tango*/
.color-orange-38{color:#FF9F00;}/*Orange Peel*/
.color-orange-39{color:#EC7625;}/*Vivid Tangelo*/
.color-orange-40{color:#8A3324;}/*Burnt Umber*/
.color-orange-41{color:#FFF1D7;}/*Papaya Whip*/
.color-orange-42{color:#FE6F5E;}/*Bittersweet*/
.color-orange-43{color:#EC5800;}/*Persimmon*/
.color-orange-44{color:#D99058;}/*Persian Orange*/
.color-orange-45{color:#E2725B;}/*Terracotta*/
.color-orange-46{color:#FBCEB1;}/*Apricot Orange*/
.color-orange-47{color:#CD7F32;}/*Bronze Orange*/
.color-orange-48{color:#FF3C00;}/*Browns Orange*/
.color-orange-49{color:#F2CA85;}/*Buff Orange*/
.color-orange-50{color:#FFC82A;}/*Bumblebee Orange*/
.color-orange-51{color:#CC5500;}/*Burnt Orange*/
.color-orange-52{color:#D99151;}/*Butterscotch Orange*/
.color-orange-53{color:#FFA600;}/*Cheese Orange*/
.color-orange-54{color:#D2691E;}/*Chocolate Orange*/
.color-orange-55{color:#D8A175;}/*Cider Orange*/
.color-orange-56{color:#BB772E;}/*Copper Orange*/
.color-orange-57{color:#FF7538;}/*Crayola Orange*/
.color-orange-58{color:#ED8E4A;}/*Desert Orange*/
.color-orange-59{color:#EDC9AF;}/*Desert Sand Orange*/
.color-orange-60{color:#FD652D;}/*Dragon Fire Orange*/
.color-orange-61{color:#DB804E;}/*Dull Orange*/
.color-orange-62{color:#FE5A1D;}/*Giants Orange*/
.color-orange-63{color:#B06500;}/*Ginger Orange*/
.color-orange-64{color:#C0362C;}/*Golden Gate Bridge Orange*/
.color-orange-65{color:#DAA520;}/*Goldenrod Orange*/
.color-orange-66{color:#FF9913;}/*Goldfish Orange*/
.color-orange-67{color:#FFBD31;}/*Honey Orange*/
.color-orange-68{color:#E8AC41;}/*Hunyadi Orange*/
.color-orange-69{color:#D15837;}/*Koi Orange*/
.color-orange-70{color:#FED8B1;}/*Light Orange*/
.color-orange-71{color:#F6CBA0;}/*Light Copper Orange*/
.color-orange-72{color:#FF7518;}/*Pumpkin Orange*/
.color-orange-73{color:#EABD8C;}/*Dark Topaz Orange*/
.color-orange-74{color:#C04000;}/*Mahogany Orange*/
.color-orange-75{color:#EAA221;}/*Marigold Orange*/
.color-orange-76{color:#DF9166;}/*Melon Orange*/
.color-orange-77{color:#FFCA4B;}/*Mimosa Orange*/
.color-orange-78{color:#FFAD00;}/*Neon Orange*/
.color-orange-79{color:#C99700;}/*Ochre Orange*/
.color-orange-80{color:#FFDFBF;}/*Orange Pale Orange*/
.color-orange-81{color:#FEE8D6;}/*Orange Paper Orange*/
.color-orange-82{color:#D76B00;}/*Orange Spice Orange*/
.color-orange-83{color:#FF6E4A;}/*Outrageous Orange*/
.color-orange-84{color:#FE5000;}/*Pantone Orange*/
.color-orange-85{color:#FFCC99;}/*Peach Orange*/
.color-orange-86{color:#E77D22;}/*Pepper Orange*/
.color-orange-87{color:#985629;}/*Red Fox Orange*/
.color-orange-88{color:#F06631;}/*Rumba Orange*/
.color-orange-89{color:#FF6700;}/*Safety Orange*/
.color-orange-90{color:#FDAE44;}/*Safflower Orange*/
.color-orange-91{color:#F05E23;}/*Salamander Orange*/
.color-orange-92{color:#FF8066;}/*Salmon Orange*/
.color-orange-93{color:#E89362;}/*Squash Orange*/
.color-orange-94{color:#E67451;}/*Sunrise Orange*/
.color-orange-95{color:#FD5E53;}/*Sunset Orange*/
.color-orange-96{color:#D44500;}/*Syracuse Orange*/
.color-orange-97{color:#B25A38;}/*Tawny Orange*/
.color-orange-98{color:#F96815;}/*Tiger Orange*/
.color-orange-99{color:#E08D3C;}/*Tiger’s Eye Orange*/
.color-orange-100{color:#FFC87C;}/*Topaz Orange*/
.color-orange-101{color:#CC7711;}/*Tree Sap Orange*/
.color-orange-102{color:#FFA500;}/*Web Orange*/
.color-orange-103{color:#FF9916;}/*West Side Orange*/
.color-orange-104{color:#F5DEB3;}/*Wheat Orange*/
.color-orange-105{color:#F1B42F;}/*Xanthous Orange*/
.color-orange-106{color:#E17E45;}/*Yam Orange*/
.color-orange-107{color:#BD5745;}/*Mecca Orange*/
.color-orange-108{color:#F76806;}/*Lava Orange*/
.color-orange-109{color:#FF9B00;}/*Dutch Orange*/
.color-orange-110{color:#FFC600;}/*Amber*/
.color-orange-111{color:#F4AB6A;}/*Aesthetic Orange*/
.color-orange-112{color:#FF6E00;}/*Hot Orange*/
.color-orange-113{color:#E78400;}/*Glossy Orange*/
.color-orange-114{color:#FF8000;}/*Pure Orange*/
.color-orange-115{color:#D78C3D;}/*Rustic Orange*/
.color-orange-116{color:#FCBE85;}/*Baby Orange*/
.color-orange-118{color:#F5883F;}/*Irish Orange*/
.color-orange-119{color:#D16002;}/*Marmalade*/
.color-orange-120{color:#C9995D;}/*Vintage Orange*/
.color-orange-121{color:#B7410E;}/*Rust*/
.color-orange-122{color:#FF9933;}/*India Saffron*/
.color-orange-124{color:#FF9966;}/*Atomic Tangerine*/
.color-orange-125{color:#B6481C;}/*Red Orange (RAL)*/
.color-orange-126{color:#FD5602;}/*Willpower Orange*/
.color-orange-127{color:#E27A53;}/*Dusty Orange*/
.color-orange-128{color:#FD963D;}/*Spring Orange*/
.color-orange-129{color:#E06E04;}/*Greek Orange*/
.color-orange-130{color:#FAB972;}/*Calm Orange*/
.color-orange-131{color:#CD946A;}/*Faded Orange*/
.color-orange-132{color:#FFB700;}/*Luminous Bright Orange (RAL)*/