/** all */
.all-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.all-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.all-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.all-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.all-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.all-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.all-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.all-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.all-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.all-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.all-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.all-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.all-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.all-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.all-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.all-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.all-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.all-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.all-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.all-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.all-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.all-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.all-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.all-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.all-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.all-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.all-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.all-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.all-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.all-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.all-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.all-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.all-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.all-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.all-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.all-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.all-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.all-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.all-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.all-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.all-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.all-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.all-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.all-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.all-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.all-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.all-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.all-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.all-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.all-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.all-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
/** xs */
@media screen and (max-width:640px){  
.xs-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.xs-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.xs-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.xs-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.xs-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.xs-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.xs-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.xs-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.xs-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.xs-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.xs-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.xs-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.xs-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.xs-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.xs-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.xs-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.xs-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.xs-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.xs-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.xs-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.xs-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.xs-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.xs-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.xs-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.xs-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.xs-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.xs-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.xs-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.xs-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.xs-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.xs-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.xs-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.xs-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.xs-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.xs-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.xs-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.xs-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.xs-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.xs-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.xs-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.xs-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.xs-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.xs-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.xs-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.xs-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.xs-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.xs-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.xs-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.xs-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.xs-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.xs-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
}
/** s */
@media screen and (min-width:641px) and (max-width:768px){
.s-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.s-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.s-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.s-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.s-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.s-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.s-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.s-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.s-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.s-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.s-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.s-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.s-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.s-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.s-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.s-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.s-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.s-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.s-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.s-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.s-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.s-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.s-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.s-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.s-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.s-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.s-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.s-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.s-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.s-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.s-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.s-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.s-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.s-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.s-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.s-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.s-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.s-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.s-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.s-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.s-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.s-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.s-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.s-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.s-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.s-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.s-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.s-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.s-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.s-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.s-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
}
/** m */
@media screen and (min-width:769px) and (max-width:1024px){
.m-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.m-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.m-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.m-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.m-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.m-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.m-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.m-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.m-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.m-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.m-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.m-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.m-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.m-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.m-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.m-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.m-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.m-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.m-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.m-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.m-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.m-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.m-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.m-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.m-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.m-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.m-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.m-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.m-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.m-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.m-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.m-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.m-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.m-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.m-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.m-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.m-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.m-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.m-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.m-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.m-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.m-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.m-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.m-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.m-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.m-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.m-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.m-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.m-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.m-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.m-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
}
/** l */
@media screen and (min-width:1025px) and (max-width:1280px){  
.l-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.l-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.l-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.l-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.l-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.l-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.l-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.l-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.l-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.l-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.l-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.l-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.l-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.l-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.l-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.l-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.l-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.l-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.l-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.l-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.l-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.l-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.l-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.l-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.l-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.l-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.l-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.l-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.l-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.l-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.l-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.l-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.l-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.l-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.l-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.l-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.l-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.l-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.l-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.l-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.l-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.l-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.l-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.l-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.l-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.l-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.l-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.l-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.l-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.l-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.l-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
}
/** xl */
@media screen and (min-width:1281px){  
.xl-cols-fr-0{grid-template-columns: repeat(0, minmax(0,0fr));}
.xl-cols-fr-1{grid-template-columns: repeat(1, minmax(0,1fr));}
.xl-cols-fr-2{grid-template-columns: repeat(2, minmax(0,2fr));}
.xl-cols-fr-3{grid-template-columns: repeat(3, minmax(0,3fr));}
.xl-cols-fr-4{grid-template-columns: repeat(4, minmax(0,4fr));}
.xl-cols-fr-5{grid-template-columns: repeat(5, minmax(0,5fr));}
.xl-cols-fr-6{grid-template-columns: repeat(6, minmax(0,6fr));}
.xl-cols-fr-7{grid-template-columns: repeat(7, minmax(0,7fr));}
.xl-cols-fr-8{grid-template-columns: repeat(8, minmax(0,8fr));}
.xl-cols-fr-9{grid-template-columns: repeat(9, minmax(0,9fr));}
.xl-cols-fr-10{grid-template-columns: repeat(10, minmax(0,10fr));}
.xl-cols-fr-11{grid-template-columns: repeat(11, minmax(0,11fr));}
.xl-cols-fr-12{grid-template-columns: repeat(12, minmax(0,12fr));}
.xl-cols-fr-13{grid-template-columns: repeat(13, minmax(0,13fr));}
.xl-cols-fr-14{grid-template-columns: repeat(14, minmax(0,14fr));}
.xl-cols-fr-15{grid-template-columns: repeat(15, minmax(0,15fr));}
.xl-cols-fr-16{grid-template-columns: repeat(16, minmax(0,16fr));}
.xl-cols-fr-17{grid-template-columns: repeat(17, minmax(0,17fr));}
.xl-cols-fr-18{grid-template-columns: repeat(18, minmax(0,18fr));}
.xl-cols-fr-19{grid-template-columns: repeat(19, minmax(0,19fr));}
.xl-cols-fr-20{grid-template-columns: repeat(20, minmax(0,20fr));}
.xl-cols-fr-21{grid-template-columns: repeat(21, minmax(0,21fr));}
.xl-cols-fr-22{grid-template-columns: repeat(22, minmax(0,22fr));}
.xl-cols-fr-23{grid-template-columns: repeat(23, minmax(0,23fr));}
.xl-cols-fr-24{grid-template-columns: repeat(24, minmax(0,24fr));}
.xl-cols-fr-25{grid-template-columns: repeat(25, minmax(0,25fr));}
.xl-cols-fr-26{grid-template-columns: repeat(26, minmax(0,26fr));}
.xl-cols-fr-27{grid-template-columns: repeat(27, minmax(0,27fr));}
.xl-cols-fr-28{grid-template-columns: repeat(28, minmax(0,28fr));}
.xl-cols-fr-29{grid-template-columns: repeat(29, minmax(0,29fr));}
.xl-cols-fr-30{grid-template-columns: repeat(30, minmax(0,30fr));}
.xl-cols-fr-31{grid-template-columns: repeat(31, minmax(0,31fr));}
.xl-cols-fr-32{grid-template-columns: repeat(32, minmax(0,32fr));}
.xl-cols-fr-33{grid-template-columns: repeat(33, minmax(0,33fr));}
.xl-cols-fr-34{grid-template-columns: repeat(34, minmax(0,34fr));}
.xl-cols-fr-35{grid-template-columns: repeat(35, minmax(0,35fr));}
.xl-cols-fr-36{grid-template-columns: repeat(36, minmax(0,36fr));}
.xl-cols-fr-37{grid-template-columns: repeat(37, minmax(0,37fr));}
.xl-cols-fr-38{grid-template-columns: repeat(38, minmax(0,38fr));}
.xl-cols-fr-39{grid-template-columns: repeat(39, minmax(0,39fr));}
.xl-cols-fr-40{grid-template-columns: repeat(40, minmax(0,40fr));}
.xl-cols-fr-41{grid-template-columns: repeat(41, minmax(0,41fr));}
.xl-cols-fr-42{grid-template-columns: repeat(42, minmax(0,42fr));}
.xl-cols-fr-43{grid-template-columns: repeat(43, minmax(0,43fr));}
.xl-cols-fr-44{grid-template-columns: repeat(44, minmax(0,44fr));}
.xl-cols-fr-45{grid-template-columns: repeat(45, minmax(0,45fr));}
.xl-cols-fr-46{grid-template-columns: repeat(46, minmax(0,46fr));}
.xl-cols-fr-47{grid-template-columns: repeat(47, minmax(0,47fr));}
.xl-cols-fr-48{grid-template-columns: repeat(48, minmax(0,48fr));}
.xl-cols-fr-49{grid-template-columns: repeat(49, minmax(0,49fr));}
.xl-cols-fr-50{grid-template-columns: repeat(50, minmax(0,50fr));}
}