/** all */
.cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
/** xs */
@media screen and (max-width:640px){  
.xs-cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.xs-cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.xs-cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.xs-cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.xs-cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.xs-cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.xs-cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.xs-cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.xs-cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.xs-cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.xs-cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.xs-cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.xs-cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.xs-cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.xs-cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.xs-cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.xs-cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.xs-cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.xs-cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.xs-cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.xs-cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.xs-cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.xs-cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.xs-cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.xs-cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.xs-cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.xs-cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.xs-cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.xs-cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.xs-cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.xs-cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.xs-cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.xs-cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.xs-cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.xs-cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.xs-cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.xs-cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.xs-cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.xs-cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.xs-cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.xs-cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.xs-cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.xs-cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.xs-cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.xs-cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.xs-cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.xs-cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.xs-cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.xs-cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.xs-cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
}
/** s */
@media screen and (min-width:641px) and (max-width:768px){
.s-cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.s-cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.s-cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.s-cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.s-cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.s-cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.s-cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.s-cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.s-cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.s-cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.s-cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.s-cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.s-cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.s-cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.s-cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.s-cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.s-cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.s-cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.s-cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.s-cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.s-cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.s-cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.s-cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.s-cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.s-cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.s-cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.s-cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.s-cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.s-cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.s-cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.s-cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.s-cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.s-cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.s-cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.s-cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.s-cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.s-cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.s-cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.s-cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.s-cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.s-cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.s-cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.s-cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.s-cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.s-cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.s-cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.s-cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.s-cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.s-cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.s-cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
}
/** m */
@media screen and (min-width:769px) and (max-width:1024px){ 
.m-cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.m-cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.m-cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.m-cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.m-cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.m-cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.m-cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.m-cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.m-cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.m-cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.m-cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.m-cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.m-cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.m-cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.m-cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.m-cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.m-cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.m-cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.m-cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.m-cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.m-cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.m-cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.m-cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.m-cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.m-cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.m-cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.m-cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.m-cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.m-cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.m-cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.m-cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.m-cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.m-cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.m-cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.m-cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.m-cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.m-cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.m-cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.m-cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.m-cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.m-cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.m-cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.m-cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.m-cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.m-cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.m-cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.m-cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.m-cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.m-cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.m-cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
}
/** l */
@media screen and (min-width:1025px) and (max-width:1280px){ 
.l-cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.l-cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.l-cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.l-cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.l-cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.l-cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.l-cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.l-cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.l-cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.l-cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.l-cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.l-cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.l-cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.l-cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.l-cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.l-cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.l-cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.l-cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.l-cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.l-cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.l-cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.l-cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.l-cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.l-cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.l-cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.l-cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.l-cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.l-cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.l-cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.l-cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.l-cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.l-cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.l-cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.l-cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.l-cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.l-cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.l-cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.l-cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.l-cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.l-cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.l-cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.l-cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.l-cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.l-cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.l-cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.l-cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.l-cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.l-cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.l-cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.l-cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
}
/** xl */
@media screen and (min-width:1281px){  
.xl-cols-max-1{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-1)));}
.xl-cols-max-2{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-2)));}
.xl-cols-max-3{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-3)));}
.xl-cols-max-4{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-4)));}
.xl-cols-max-5{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-5)));}
.xl-cols-max-6{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-6)));}
.xl-cols-max-7{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-7)));}
.xl-cols-max-8{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-8)));}
.xl-cols-max-9{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-9)));}
.xl-cols-max-10{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-10)));}
.xl-cols-max-11{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-11)));}
.xl-cols-max-12{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-12)));}
.xl-cols-max-13{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-13)));}
.xl-cols-max-14{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-14)));}
.xl-cols-max-15{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-15)));}
.xl-cols-max-16{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-16)));}
.xl-cols-max-17{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-17)));}
.xl-cols-max-18{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-18)));}
.xl-cols-max-19{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-19)));}
.xl-cols-max-20{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-20)));}
.xl-cols-max-21{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-21)));}
.xl-cols-max-22{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-22)));}
.xl-cols-max-23{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-23)));}
.xl-cols-max-24{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-24)));}
.xl-cols-max-25{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-25)));}
.xl-cols-max-26{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-26)));}
.xl-cols-max-27{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-27)));}
.xl-cols-max-28{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-28)));}
.xl-cols-max-29{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-29)));}
.xl-cols-max-30{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-30)));}
.xl-cols-max-31{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-31)));}
.xl-cols-max-32{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-32)));}
.xl-cols-max-33{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-33)));}
.xl-cols-max-34{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-34)));}
.xl-cols-max-35{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-35)));}
.xl-cols-max-36{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-36)));}
.xl-cols-max-37{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-37)));}
.xl-cols-max-38{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-38)));}
.xl-cols-max-39{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-39)));}
.xl-cols-max-40{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-40)));}
.xl-cols-max-41{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-41)));}
.xl-cols-max-42{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-42)));}
.xl-cols-max-43{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-43)));}
.xl-cols-max-44{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-44)));}
.xl-cols-max-45{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-45)));}
.xl-cols-max-46{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-46)));}
.xl-cols-max-47{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-47)));}
.xl-cols-max-48{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-48)));}
.xl-cols-max-49{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-49)));}
.xl-cols-max-50{grid-template-columns:repeat(auto-fit,minmax(auto,var(--big-50)));}
}