/*Initalize Variables No Adjustments*/
:root {
--blur:0px;
--contrast:100%;
--brightness:100%;
--grayscale:0%;
--huerotate:0deg;
--saturate:100%;
--sepia:0%;
}
/** all-filter */

.all-filter-blur-0   {--blur:0px;}
.all-filter-blur-1   {--blur:1px;}
.all-filter-blur-2   {--blur:2px;}
.all-filter-blur-3   {--blur:4px;}
.all-filter-blur-4   {--blur:6px;}
.all-filter-blur-5   {--blur:8px;}
.all-filter-blur-6   {--blur:10px;}
.all-filter-blur-7   {--blur:12px;}
.all-filter-blur-8   {--blur:14px;}
.all-filter-blur-9   {--blur:16px;}
.all-filter-blur-10   {--blur:18px;}

.all-filter-contrast-0   {--contrast:1;}
.all-filter-contrast-1   {--contrast:1.1;}
.all-filter-contrast-2   {--contrast:1.2;}
.all-filter-contrast-3   {--contrast:1.3;}
.all-filter-contrast-4   {--contrast:1.4;}
.all-filter-contrast-5   {--contrast:1.5;}
.all-filter-contrast-6   {--contrast:1.6;}
.all-filter-contrast-7   {--contrast:1.7;}
.all-filter-contrast-8   {--contrast:1.8;}
.all-filter-contrast-9   {--contrast:1.9;}
.all-filter-contrast-10   {--contrast:2;}

.all-filter-brightness-0   {--brightness:1;}
.all-filter-brightness-1   {--brightness:1.1;}
.all-filter-brightness-2   {--brightness:1.2;}
.all-filter-brightness-3   {--brightness:1.3;}
.all-filter-brightness-4   {--brightness:1.4;}
.all-filter-brightness-5   {--brightness:1.5;}
.all-filter-brightness-6   {--brightness:1.6;}
.all-filter-brightness-7   {--brightness:1.7;}
.all-filter-brightness-8   {--brightness:1.8;}
.all-filter-brightness-9   {--brightness:1.9;}
.all-filter-brightness-10   {--brightness:2;}

.all-filter-grayscale-0   {--grayscale:0;}
.all-filter-grayscale-1   {--grayscale:0.1;}
.all-filter-grayscale-2   {--grayscale:0.2;}
.all-filter-grayscale-3   {--grayscale:0.3;}
.all-filter-grayscale-4   {--grayscale:0.4;}
.all-filter-grayscale-5   {--grayscale:0.5;}
.all-filter-grayscale-6   {--grayscale:0.6;}
.all-filter-grayscale-7   {--grayscale:0.7;}
.all-filter-grayscale-8   {--grayscale:0.8;}
.all-filter-grayscale-9   {--grayscale:0.9;}
.all-filter-grayscale-10   {--grayscale:1;}

.all-filter-huerotate-0   {--huerotate:0;}
.all-filter-huerotate-1   {--huerotate:10deg;}
.all-filter-huerotate-2   {--huerotate:20deg;}
.all-filter-huerotate-3   {--huerotate:30deg;}
.all-filter-huerotate-4   {--huerotate:40deg;}
.all-filter-huerotate-5   {--huerotate:50deg;}
.all-filter-huerotate-6   {--huerotate:60deg;}
.all-filter-huerotate-7   {--huerotate:70deg;}
.all-filter-huerotate-8   {--huerotate:80deg;}
.all-filter-huerotate-9   {--huerotate:90deg;}
.all-filter-huerotate-10   {--huerotate:100deg;}
.all-filter-huerotate-11   {--huerotate:110deg;}
.all-filter-huerotate-12   {--huerotate:120deg;}
.all-filter-huerotate-13   {--huerotate:130deg;}
.all-filter-huerotate-14   {--huerotate:140deg;}
.all-filter-huerotate-15   {--huerotate:150deg;}
.all-filter-huerotate-16   {--huerotate:160deg;}
.all-filter-huerotate-17   {--huerotate:170deg;}
.all-filter-huerotate-18   {--huerotate:180deg;}
.all-filter-huerotate-19   {--huerotate:190deg;}
.all-filter-huerotate-20   {--huerotate:200deg;}
.all-filter-huerotate-21   {--huerotate:210deg;}
.all-filter-huerotate-22   {--huerotate:220deg;}
.all-filter-huerotate-23   {--huerotate:230deg;}
.all-filter-huerotate-24   {--huerotate:240deg;}
.all-filter-huerotate-25   {--huerotate:250deg;}
.all-filter-huerotate-26   {--huerotate:260deg;}
.all-filter-huerotate-27   {--huerotate:270deg;}
.all-filter-huerotate-28   {--huerotate:280deg;}
.all-filter-huerotate-29   {--huerotate:290deg;}
.all-filter-huerotate-30   {--huerotate:300deg;}
.all-filter-huerotate-31   {--huerotate:310deg;}
.all-filter-huerotate-32   {--huerotate:320deg;}
.all-filter-huerotate-33   {--huerotate:330deg;}
.all-filter-huerotate-34   {--huerotate:340deg;}
.all-filter-huerotate-35   {--huerotate:350deg;}
.all-filter-huerotate-36   {--huerotate:360deg;}

.all-filter-saturate-0   {--saturate:1;}
.all-filter-saturate-1   {--saturate:0.1;}
.all-filter-saturate-2   {--saturate:0.2;}
.all-filter-saturate-3   {--saturate:0.3;}
.all-filter-saturate-4   {--saturate:0.4;}
.all-filter-saturate-5   {--saturate:0.5;}
.all-filter-saturate-6   {--saturate:0.6;}
.all-filter-saturate-7   {--saturate:0.7;}
.all-filter-saturate-8   {--saturate:0.8;}
.all-filter-saturate-9   {--saturate:0.9;}
.all-filter-saturate-10   {--saturate:1;}
.all-filter-saturate-11   {--saturate:1.1;}
.all-filter-saturate-12   {--saturate:1.2;}
.all-filter-saturate-13   {--saturate:1.3;}
.all-filter-saturate-14   {--saturate:1.4;}
.all-filter-saturate-15   {--saturate:1.5;}
.all-filter-saturate-16   {--saturate:1.6;}
.all-filter-saturate-17   {--saturate:1.7;}
.all-filter-saturate-18   {--saturate:1.8;}
.all-filter-saturate-19   {--saturate:1.9;}
.all-filter-saturate-20   {--saturate:2;}

.all-filter-sepia-0   {--sepia:0;}
.all-filter-sepia-1   {--sepia:0.1;}
.all-filter-sepia-2   {--sepia:0.2;}
.all-filter-sepia-3   {--sepia:0.3;}
.all-filter-sepia-4   {--sepia:0.4;}
.all-filter-sepia-5   {--sepia:0.5;}
.all-filter-sepia-6   {--sepia:0.6;}
.all-filter-sepia-7   {--sepia:0.7;}
.all-filter-sepia-8   {--sepia:0.8;}
.all-filter-sepia-9   {--sepia:0.9;}
.all-filter-sepia-10   {--sepia:1;}

.filter {
filter: blur(var(--blur)) contrast(var(--contrast)) brightness(var(--brightness)) grayscale(var(--grayscale)) hue-rotate(var(--huerotate)) saturate(var(--saturate)) sepia(var(--sepia));
-webkit-filter: blur(var(--blur)) contrast(var(--contrast)) brightness(var(--brightness)) grayscale(var(--grayscale)) hue-rotate(var(--huerotate)) saturate(var(--saturate)) sepia(var(--sepia));
-moz-filter: blur(var(--blur)) contrast(var(--contrast)) brightness(var(--brightness)) grayscale(var(--grayscale)) hue-rotate(var(--huerotate)) saturate(var(--saturate)) sepia(var(--sepia));
}
