/** all */
.all-font-size-1  {font-size: var(--small-1);}
.all-font-size-2  {font-size: var(--small-2);}
.all-font-size-3  {font-size: var(--small-3);}
.all-font-size-4  {font-size: var(--small-4);}
.all-font-size-5  {font-size: var(--small-5);}
.all-font-size-6  {font-size: var(--small-6);}
.all-font-size-7  {font-size: var(--small-7);}
.all-font-size-8  {font-size: var(--small-8);}
.all-font-size-9  {font-size: var(--small-9);}
.all-font-size-10  {font-size: var(--small-10);}
.all-font-size-11  {font-size: var(--small-11);}
.all-font-size-12  {font-size: var(--small-12);}
.all-font-size-13  {font-size: var(--small-13);}
.all-font-size-14  {font-size: var(--small-14);}
.all-font-size-15  {font-size: var(--small-15);}
.all-font-size-16  {font-size: var(--small-16);}
.all-font-size-17  {font-size: var(--small-17);}
.all-font-size-18  {font-size: var(--small-18);}
.all-font-size-19  {font-size: var(--small-19);}
.all-font-size-20  {font-size: var(--small-20);}
.all-font-size-21  {font-size: var(--small-21);}
.all-font-size-22  {font-size: var(--small-22);}
.all-font-size-23  {font-size: var(--small-23);}
.all-font-size-24  {font-size: var(--small-24);}
.all-font-size-25  {font-size: var(--small-25);}
.all-font-size-26  {font-size: var(--small-26);}
.all-font-size-27  {font-size: var(--small-27);}
.all-font-size-28  {font-size: var(--small-28);}
.all-font-size-29  {font-size: var(--small-29);}
.all-font-size-30  {font-size: var(--small-30);}
.all-font-size-31  {font-size: var(--small-31);}
.all-font-size-32  {font-size: var(--small-32);}
.all-font-size-33  {font-size: var(--small-33);}
.all-font-size-34  {font-size: var(--small-34);}
.all-font-size-35  {font-size: var(--small-35);}
.all-font-size-36  {font-size: var(--small-36);}
.all-font-size-37  {font-size: var(--small-37);}
.all-font-size-38  {font-size: var(--small-38);}
.all-font-size-39  {font-size: var(--small-39);}
.all-font-size-40  {font-size: var(--small-40);}
.all-font-size-41  {font-size: var(--small-41);}
.all-font-size-42  {font-size: var(--small-42);}
.all-font-size-43  {font-size: var(--small-43);}
.all-font-size-44  {font-size: var(--small-44);}
.all-font-size-45  {font-size: var(--small-45);}
.all-font-size-46  {font-size: var(--small-46);}
.all-font-size-48  {font-size: var(--small-48);}
.all-font-size-49  {font-size: var(--small-49);}
.all-font-size-50  {font-size: var(--small-50);}

/** xl */
@media screen and (min-width:1281px){  
.xl-font-size-1  {font-size: var(--small-1);}
.xl-font-size-2  {font-size: var(--small-2);}
.xl-font-size-3  {font-size: var(--small-3);}
.xl-font-size-4  {font-size: var(--small-4);}
.xl-font-size-5  {font-size: var(--small-5);}
.xl-font-size-6  {font-size: var(--small-6);}
.xl-font-size-7  {font-size: var(--small-7);}
.xl-font-size-8  {font-size: var(--small-8);}
.xl-font-size-9  {font-size: var(--small-9);}
.xl-font-size-10  {font-size: var(--small-10);}
.xl-font-size-11  {font-size: var(--small-11);}
.xl-font-size-12  {font-size: var(--small-12);}
.xl-font-size-13  {font-size: var(--small-13);}
.xl-font-size-14  {font-size: var(--small-14);}
.xl-font-size-15  {font-size: var(--small-15);}
.xl-font-size-16  {font-size: var(--small-16);}
.xl-font-size-17  {font-size: var(--small-17);}
.xl-font-size-18  {font-size: var(--small-18);}
.xl-font-size-19  {font-size: var(--small-19);}
.xl-font-size-20  {font-size: var(--small-20);}
.xl-font-size-21  {font-size: var(--small-21);}
.xl-font-size-22  {font-size: var(--small-22);}
.xl-font-size-23  {font-size: var(--small-23);}
.xl-font-size-24  {font-size: var(--small-24);}
.xl-font-size-25  {font-size: var(--small-25);}
.xl-font-size-26  {font-size: var(--small-26);}
.xl-font-size-27  {font-size: var(--small-27);}
.xl-font-size-28  {font-size: var(--small-28);}
.xl-font-size-29  {font-size: var(--small-29);}
.xl-font-size-30  {font-size: var(--small-30);}
.xl-font-size-31  {font-size: var(--small-31);}
.xl-font-size-32  {font-size: var(--small-32);}
.xl-font-size-33  {font-size: var(--small-33);}
.xl-font-size-34  {font-size: var(--small-34);}
.xl-font-size-35  {font-size: var(--small-35);}
.xl-font-size-36  {font-size: var(--small-36);}
.xl-font-size-37  {font-size: var(--small-37);}
.xl-font-size-38  {font-size: var(--small-38);}
.xl-font-size-39  {font-size: var(--small-39);}
.xl-font-size-40  {font-size: var(--small-40);}
.xl-font-size-41  {font-size: var(--small-41);}
.xl-font-size-42  {font-size: var(--small-42);}
.xl-font-size-43  {font-size: var(--small-43);}
.xl-font-size-44  {font-size: var(--small-44);}
.xl-font-size-45  {font-size: var(--small-45);}
.xl-font-size-46  {font-size: var(--small-46);}
.xl-font-size-48  {font-size: var(--small-48);}
.xl-font-size-49  {font-size: var(--small-49);}
.xl-font-size-50  {font-size: var(--small-50);}
}
/** l */
@media screen and (min-width:1025px) and (max-width:1280px){ 
.l-font-size-1  {font-size: var(--small-1);}
.l-font-size-2  {font-size: var(--small-2);}
.l-font-size-3  {font-size: var(--small-3);}
.l-font-size-4  {font-size: var(--small-4);}
.l-font-size-5  {font-size: var(--small-5);}
.l-font-size-6  {font-size: var(--small-6);}
.l-font-size-7  {font-size: var(--small-7);}
.l-font-size-8  {font-size: var(--small-8);}
.l-font-size-9  {font-size: var(--small-9);}
.l-font-size-10  {font-size: var(--small-10);}
.l-font-size-11  {font-size: var(--small-11);}
.l-font-size-12  {font-size: var(--small-12);}
.l-font-size-13  {font-size: var(--small-13);}
.l-font-size-14  {font-size: var(--small-14);}
.l-font-size-15  {font-size: var(--small-15);}
.l-font-size-16  {font-size: var(--small-16);}
.l-font-size-17  {font-size: var(--small-17);}
.l-font-size-18  {font-size: var(--small-18);}
.l-font-size-19  {font-size: var(--small-19);}
.l-font-size-20  {font-size: var(--small-20);}
.l-font-size-21  {font-size: var(--small-21);}
.l-font-size-22  {font-size: var(--small-22);}
.l-font-size-23  {font-size: var(--small-23);}
.l-font-size-24  {font-size: var(--small-24);}
.l-font-size-25  {font-size: var(--small-25);}
.l-font-size-26  {font-size: var(--small-26);}
.l-font-size-27  {font-size: var(--small-27);}
.l-font-size-28  {font-size: var(--small-28);}
.l-font-size-29  {font-size: var(--small-29);}
.l-font-size-30  {font-size: var(--small-30);}
.l-font-size-31  {font-size: var(--small-31);}
.l-font-size-32  {font-size: var(--small-32);}
.l-font-size-33  {font-size: var(--small-33);}
.l-font-size-34  {font-size: var(--small-34);}
.l-font-size-35  {font-size: var(--small-35);}
.l-font-size-36  {font-size: var(--small-36);}
.l-font-size-37  {font-size: var(--small-37);}
.l-font-size-38  {font-size: var(--small-38);}
.l-font-size-39  {font-size: var(--small-39);}
.l-font-size-40  {font-size: var(--small-40);}
.l-font-size-41  {font-size: var(--small-41);}
.l-font-size-42  {font-size: var(--small-42);}
.l-font-size-43  {font-size: var(--small-43);}
.l-font-size-44  {font-size: var(--small-44);}
.l-font-size-45  {font-size: var(--small-45);}
.l-font-size-46  {font-size: var(--small-46);}
.l-font-size-48  {font-size: var(--small-48);}
.l-font-size-49  {font-size: var(--small-49);}
.l-font-size-50  {font-size: var(--small-50);}
}
/** m */
@media screen and (min-width:769px) and (max-width:1024px){ 
.m-font-size-1  {font-size: var(--small-1);}
.m-font-size-2  {font-size: var(--small-2);}
.m-font-size-3  {font-size: var(--small-3);}
.m-font-size-4  {font-size: var(--small-4);}
.m-font-size-5  {font-size: var(--small-5);}
.m-font-size-6  {font-size: var(--small-6);}
.m-font-size-7  {font-size: var(--small-7);}
.m-font-size-8  {font-size: var(--small-8);}
.m-font-size-9  {font-size: var(--small-9);}
.m-font-size-10  {font-size: var(--small-10);}
.m-font-size-11  {font-size: var(--small-11);}
.m-font-size-12  {font-size: var(--small-12);}
.m-font-size-13  {font-size: var(--small-13);}
.m-font-size-14  {font-size: var(--small-14);}
.m-font-size-15  {font-size: var(--small-15);}
.m-font-size-16  {font-size: var(--small-16);}
.m-font-size-17  {font-size: var(--small-17);}
.m-font-size-18  {font-size: var(--small-18);}
.m-font-size-19  {font-size: var(--small-19);}
.m-font-size-20  {font-size: var(--small-20);}
.m-font-size-21  {font-size: var(--small-21);}
.m-font-size-22  {font-size: var(--small-22);}
.m-font-size-23  {font-size: var(--small-23);}
.m-font-size-24  {font-size: var(--small-24);}
.m-font-size-25  {font-size: var(--small-25);}
.m-font-size-26  {font-size: var(--small-26);}
.m-font-size-27  {font-size: var(--small-27);}
.m-font-size-28  {font-size: var(--small-28);}
.m-font-size-29  {font-size: var(--small-29);}
.m-font-size-30  {font-size: var(--small-30);}
.m-font-size-31  {font-size: var(--small-31);}
.m-font-size-32  {font-size: var(--small-32);}
.m-font-size-33  {font-size: var(--small-33);}
.m-font-size-34  {font-size: var(--small-34);}
.m-font-size-35  {font-size: var(--small-35);}
.m-font-size-36  {font-size: var(--small-36);}
.m-font-size-37  {font-size: var(--small-37);}
.m-font-size-38  {font-size: var(--small-38);}
.m-font-size-39  {font-size: var(--small-39);}
.m-font-size-40  {font-size: var(--small-40);}
.m-font-size-41  {font-size: var(--small-41);}
.m-font-size-42  {font-size: var(--small-42);}
.m-font-size-43  {font-size: var(--small-43);}
.m-font-size-44  {font-size: var(--small-44);}
.m-font-size-45  {font-size: var(--small-45);}
.m-font-size-46  {font-size: var(--small-46);}
.m-font-size-48  {font-size: var(--small-48);}
.m-font-size-49  {font-size: var(--small-49);}
.m-font-size-50  {font-size: var(--small-50);}
}
/** s */
@media screen and (min-width:641px) and (max-width:768px){
.s-font-size-1  {font-size: var(--small-1);}
.s-font-size-2  {font-size: var(--small-2);}
.s-font-size-3  {font-size: var(--small-3);}
.s-font-size-4  {font-size: var(--small-4);}
.s-font-size-5  {font-size: var(--small-5);}
.s-font-size-6  {font-size: var(--small-6);}
.s-font-size-7  {font-size: var(--small-7);}
.s-font-size-8  {font-size: var(--small-8);}
.s-font-size-9  {font-size: var(--small-9);}
.s-font-size-10  {font-size: var(--small-10);}
.s-font-size-11  {font-size: var(--small-11);}
.s-font-size-12  {font-size: var(--small-12);}
.s-font-size-13  {font-size: var(--small-13);}
.s-font-size-14  {font-size: var(--small-14);}
.s-font-size-15  {font-size: var(--small-15);}
.s-font-size-16  {font-size: var(--small-16);}
.s-font-size-17  {font-size: var(--small-17);}
.s-font-size-18  {font-size: var(--small-18);}
.s-font-size-19  {font-size: var(--small-19);}
.s-font-size-20  {font-size: var(--small-20);}
.s-font-size-21  {font-size: var(--small-21);}
.s-font-size-22  {font-size: var(--small-22);}
.s-font-size-23  {font-size: var(--small-23);}
.s-font-size-24  {font-size: var(--small-24);}
.s-font-size-25  {font-size: var(--small-25);}
.s-font-size-26  {font-size: var(--small-26);}
.s-font-size-27  {font-size: var(--small-27);}
.s-font-size-28  {font-size: var(--small-28);}
.s-font-size-29  {font-size: var(--small-29);}
.s-font-size-30  {font-size: var(--small-30);}
.s-font-size-31  {font-size: var(--small-31);}
.s-font-size-32  {font-size: var(--small-32);}
.s-font-size-33  {font-size: var(--small-33);}
.s-font-size-34  {font-size: var(--small-34);}
.s-font-size-35  {font-size: var(--small-35);}
.s-font-size-36  {font-size: var(--small-36);}
.s-font-size-37  {font-size: var(--small-37);}
.s-font-size-38  {font-size: var(--small-38);}
.s-font-size-39  {font-size: var(--small-39);}
.s-font-size-40  {font-size: var(--small-40);}
.s-font-size-41  {font-size: var(--small-41);}
.s-font-size-42  {font-size: var(--small-42);}
.s-font-size-43  {font-size: var(--small-43);}
.s-font-size-44  {font-size: var(--small-44);}
.s-font-size-45  {font-size: var(--small-45);}
.s-font-size-46  {font-size: var(--small-46);}
.s-font-size-48  {font-size: var(--small-48);}
.s-font-size-49  {font-size: var(--small-49);}
.s-font-size-50  {font-size: var(--small-50);}
}
 /** xs */
@media screen and (max-width:640px){  
.xs-font-size-1  {font-size: var(--smxs-1);}
.xs-font-size-2  {font-size: var(--smxs-2);}
.xs-font-size-3  {font-size: var(--smxs-3);}
.xs-font-size-4  {font-size: var(--smxs-4);}
.xs-font-size-5  {font-size: var(--smxs-5);}
.xs-font-size-6  {font-size: var(--smxs-6);}
.xs-font-size-7  {font-size: var(--smxs-7);}
.xs-font-size-8  {font-size: var(--smxs-8);}
.xs-font-size-9  {font-size: var(--smxs-9);}
.xs-font-size-10  {font-size: var(--smxs-10);}
.xs-font-size-11  {font-size: var(--smxs-11);}
.xs-font-size-12  {font-size: var(--smxs-12);}
.xs-font-size-13  {font-size: var(--smxs-13);}
.xs-font-size-14  {font-size: var(--smxs-14);}
.xs-font-size-15  {font-size: var(--smxs-15);}
.xs-font-size-16  {font-size: var(--smxs-16);}
.xs-font-size-17  {font-size: var(--smxs-17);}
.xs-font-size-18  {font-size: var(--smxs-18);}
.xs-font-size-19  {font-size: var(--smxs-19);}
.xs-font-size-20  {font-size: var(--smxs-20);}
.xs-font-size-21  {font-size: var(--smxs-21);}
.xs-font-size-22  {font-size: var(--smxs-22);}
.xs-font-size-23  {font-size: var(--smxs-23);}
.xs-font-size-24  {font-size: var(--smxs-24);}
.xs-font-size-25  {font-size: var(--smxs-25);}
.xs-font-size-26  {font-size: var(--smxs-26);}
.xs-font-size-27  {font-size: var(--smxs-27);}
.xs-font-size-28  {font-size: var(--smxs-28);}
.xs-font-size-29  {font-size: var(--smxs-29);}
.xs-font-size-30  {font-size: var(--smxs-30);}
.xs-font-size-31  {font-size: var(--smxs-31);}
.xs-font-size-32  {font-size: var(--smxs-32);}
.xs-font-size-33  {font-size: var(--smxs-33);}
.xs-font-size-34  {font-size: var(--smxs-34);}
.xs-font-size-35  {font-size: var(--smxs-35);}
.xs-font-size-36  {font-size: var(--smxs-36);}
.xs-font-size-37  {font-size: var(--smxs-37);}
.xs-font-size-38  {font-size: var(--smxs-38);}
.xs-font-size-39  {font-size: var(--smxs-39);}
.xs-font-size-40  {font-size: var(--smxs-40);}
.xs-font-size-41  {font-size: var(--smxs-41);}
.xs-font-size-42  {font-size: var(--smxs-42);}
.xs-font-size-43  {font-size: var(--smxs-43);}
.xs-font-size-44  {font-size: var(--smxs-44);}
.xs-font-size-45  {font-size: var(--smxs-45);}
.xs-font-size-46  {font-size: var(--smxs-46);}
.xs-font-size-48  {font-size: var(--smxs-48);}
.xs-font-size-49  {font-size: var(--smxs-49);}
.xs-font-size-50  {font-size: var(--smxs-50);}
}