/** all-row */
.gap-0{grid-gap:var(--small-0);}
.gap-1{grid-gap:var(--small-1);} 
.gap-2{grid-gap:var(--small-2);} 
.gap-3{grid-gap:var(--small-3);} 
.gap-4{grid-gap:var(--small-4);} 
.gap-5{grid-gap:var(--small-5);} 
.gap-6{grid-gap:var(--small-6);} 
.gap-7{grid-gap:var(--small-7);} 
.gap-8{grid-gap:var(--small-8);} 
.gap-9{grid-gap:var(--small-9);} 
.gap-10{grid-gap:var(--small-10);} 
.gap-11{grid-gap:var(--small-11);} 
.gap-12{grid-gap:var(--small-12);} 
.gap-13{grid-gap:var(--small-13);} 
.gap-14{grid-gap:var(--small-14);} 
.gap-15{grid-gap:var(--small-15);} 
.gap-16{grid-gap:var(--small-16);} 
.gap-17{grid-gap:var(--small-17);} 
.gap-18{grid-gap:var(--small-18);} 
.gap-19{grid-gap:var(--small-19);} 
.gap-20{grid-gap:var(--small-20);} 
.gap-21{grid-gap:var(--small-21);} 
.gap-22{grid-gap:var(--small-22);} 
.gap-23{grid-gap:var(--small-23);} 
.gap-24{grid-gap:var(--small-24);} 
.gap-25{grid-gap:var(--small-25);} 
.gap-26{grid-gap:var(--small-26);} 
.gap-27{grid-gap:var(--small-27);} 
.gap-28{grid-gap:var(--small-28);} 
.gap-29{grid-gap:var(--small-29);} 
.gap-30{grid-gap:var(--small-30);} 
.gap-31{grid-gap:var(--small-31);} 
.gap-32{grid-gap:var(--small-32);} 
.gap-33{grid-gap:var(--small-33);} 
.gap-34{grid-gap:var(--small-34);} 
.gap-35{grid-gap:var(--small-35);} 
.gap-36{grid-gap:var(--small-36);} 
.gap-37{grid-gap:var(--small-37);} 
.gap-38{grid-gap:var(--small-38);} 
.gap-39{grid-gap:var(--small-39);} 
.gap-40{grid-gap:var(--small-40);} 
.gap-41{grid-gap:var(--small-41);} 
.gap-42{grid-gap:var(--small-42);} 
.gap-43{grid-gap:var(--small-43);} 
.gap-44{grid-gap:var(--small-44);} 
.gap-45{grid-gap:var(--small-45);} 
.gap-46{grid-gap:var(--small-46);} 
.gap-47{grid-gap:var(--small-47);} 
.gap-48{grid-gap:var(--small-48);} 
.gap-49{grid-gap:var(--small-49);} 
.gap-50{grid-gap:var(--small-50);} 
/** xs-row */
@media screen and (max-width:640px){  
.xs-gap-0{grid-gap:var(--small-0);}    
.xs-gap-1{grid-gap:var(--small-1);} 
.xs-gap-2{grid-gap:var(--small-2);} 
.xs-gap-3{grid-gap:var(--small-3);} 
.xs-gap-4{grid-gap:var(--small-4);} 
.xs-gap-5{grid-gap:var(--small-5);} 
.xs-gap-6{grid-gap:var(--small-6);} 
.xs-gap-7{grid-gap:var(--small-7);} 
.xs-gap-8{grid-gap:var(--small-8);} 
.xs-gap-9{grid-gap:var(--small-9);} 
.xs-gap-10{grid-gap:var(--small-10);} 
.xs-gap-11{grid-gap:var(--small-11);} 
.xs-gap-12{grid-gap:var(--small-12);} 
.xs-gap-13{grid-gap:var(--small-13);} 
.xs-gap-14{grid-gap:var(--small-14);} 
.xs-gap-15{grid-gap:var(--small-15);} 
.xs-gap-16{grid-gap:var(--small-16);} 
.xs-gap-17{grid-gap:var(--small-17);} 
.xs-gap-18{grid-gap:var(--small-18);} 
.xs-gap-19{grid-gap:var(--small-19);} 
.xs-gap-20{grid-gap:var(--small-20);} 
.xs-gap-21{grid-gap:var(--small-21);} 
.xs-gap-22{grid-gap:var(--small-22);} 
.xs-gap-23{grid-gap:var(--small-23);} 
.xs-gap-24{grid-gap:var(--small-24);} 
.xs-gap-25{grid-gap:var(--small-25);} 
.xs-gap-26{grid-gap:var(--small-26);} 
.xs-gap-27{grid-gap:var(--small-27);} 
.xs-gap-28{grid-gap:var(--small-28);} 
.xs-gap-29{grid-gap:var(--small-29);} 
.xs-gap-30{grid-gap:var(--small-30);} 
.xs-gap-31{grid-gap:var(--small-31);} 
.xs-gap-32{grid-gap:var(--small-32);} 
.xs-gap-33{grid-gap:var(--small-33);} 
.xs-gap-34{grid-gap:var(--small-34);} 
.xs-gap-35{grid-gap:var(--small-35);} 
.xs-gap-36{grid-gap:var(--small-36);} 
.xs-gap-37{grid-gap:var(--small-37);} 
.xs-gap-38{grid-gap:var(--small-38);} 
.xs-gap-39{grid-gap:var(--small-39);} 
.xs-gap-40{grid-gap:var(--small-40);} 
.xs-gap-41{grid-gap:var(--small-41);} 
.xs-gap-42{grid-gap:var(--small-42);} 
.xs-gap-43{grid-gap:var(--small-43);} 
.xs-gap-44{grid-gap:var(--small-44);} 
.xs-gap-45{grid-gap:var(--small-45);} 
.xs-gap-46{grid-gap:var(--small-46);} 
.xs-gap-47{grid-gap:var(--small-47);} 
.xs-gap-48{grid-gap:var(--small-48);} 
.xs-gap-49{grid-gap:var(--small-49);} 
.xs-gap-50{grid-gap:var(--small-50);} 
}
/** s-row */
@media screen and (min-width:641px) and (max-width:768px){
.s-gap-0{grid-gap:var(--small-0);}    
.s-gap-1{grid-gap:var(--small-1);} 
.s-gap-2{grid-gap:var(--small-2);} 
.s-gap-3{grid-gap:var(--small-3);} 
.s-gap-4{grid-gap:var(--small-4);} 
.s-gap-5{grid-gap:var(--small-5);} 
.s-gap-6{grid-gap:var(--small-6);} 
.s-gap-7{grid-gap:var(--small-7);} 
.s-gap-8{grid-gap:var(--small-8);} 
.s-gap-9{grid-gap:var(--small-9);} 
.s-gap-10{grid-gap:var(--small-10);} 
.s-gap-11{grid-gap:var(--small-11);} 
.s-gap-12{grid-gap:var(--small-12);} 
.s-gap-13{grid-gap:var(--small-13);} 
.s-gap-14{grid-gap:var(--small-14);} 
.s-gap-15{grid-gap:var(--small-15);} 
.s-gap-16{grid-gap:var(--small-16);} 
.s-gap-17{grid-gap:var(--small-17);} 
.s-gap-18{grid-gap:var(--small-18);} 
.s-gap-19{grid-gap:var(--small-19);} 
.s-gap-20{grid-gap:var(--small-20);} 
.s-gap-21{grid-gap:var(--small-21);} 
.s-gap-22{grid-gap:var(--small-22);} 
.s-gap-23{grid-gap:var(--small-23);} 
.s-gap-24{grid-gap:var(--small-24);} 
.s-gap-25{grid-gap:var(--small-25);} 
.s-gap-26{grid-gap:var(--small-26);} 
.s-gap-27{grid-gap:var(--small-27);} 
.s-gap-28{grid-gap:var(--small-28);} 
.s-gap-29{grid-gap:var(--small-29);} 
.s-gap-30{grid-gap:var(--small-30);} 
.s-gap-31{grid-gap:var(--small-31);} 
.s-gap-32{grid-gap:var(--small-32);} 
.s-gap-33{grid-gap:var(--small-33);} 
.s-gap-34{grid-gap:var(--small-34);} 
.s-gap-35{grid-gap:var(--small-35);} 
.s-gap-36{grid-gap:var(--small-36);} 
.s-gap-37{grid-gap:var(--small-37);} 
.s-gap-38{grid-gap:var(--small-38);} 
.s-gap-39{grid-gap:var(--small-39);} 
.s-gap-40{grid-gap:var(--small-40);} 
.s-gap-41{grid-gap:var(--small-41);} 
.s-gap-42{grid-gap:var(--small-42);} 
.s-gap-43{grid-gap:var(--small-43);} 
.s-gap-44{grid-gap:var(--small-44);} 
.s-gap-45{grid-gap:var(--small-45);} 
.s-gap-46{grid-gap:var(--small-46);} 
.s-gap-47{grid-gap:var(--small-47);} 
.s-gap-48{grid-gap:var(--small-48);} 
.s-gap-49{grid-gap:var(--small-49);} 
.s-gap-50{grid-gap:var(--small-50);} 
}
/** m-row */
@media screen and (min-width:769px) and (max-width:1024px){ 
.m-gap-0{grid-gap:var(--small-0);}    
.m-gap-1{grid-gap:var(--small-1);} 
.m-gap-2{grid-gap:var(--small-2);} 
.m-gap-3{grid-gap:var(--small-3);} 
.m-gap-4{grid-gap:var(--small-4);} 
.m-gap-5{grid-gap:var(--small-5);} 
.m-gap-6{grid-gap:var(--small-6);} 
.m-gap-7{grid-gap:var(--small-7);} 
.m-gap-8{grid-gap:var(--small-8);} 
.m-gap-9{grid-gap:var(--small-9);} 
.m-gap-10{grid-gap:var(--small-10);} 
.m-gap-11{grid-gap:var(--small-11);} 
.m-gap-12{grid-gap:var(--small-12);} 
.m-gap-13{grid-gap:var(--small-13);} 
.m-gap-14{grid-gap:var(--small-14);} 
.m-gap-15{grid-gap:var(--small-15);} 
.m-gap-16{grid-gap:var(--small-16);} 
.m-gap-17{grid-gap:var(--small-17);} 
.m-gap-18{grid-gap:var(--small-18);} 
.m-gap-19{grid-gap:var(--small-19);} 
.m-gap-20{grid-gap:var(--small-20);} 
.m-gap-21{grid-gap:var(--small-21);} 
.m-gap-22{grid-gap:var(--small-22);} 
.m-gap-23{grid-gap:var(--small-23);} 
.m-gap-24{grid-gap:var(--small-24);} 
.m-gap-25{grid-gap:var(--small-25);} 
.m-gap-26{grid-gap:var(--small-26);} 
.m-gap-27{grid-gap:var(--small-27);} 
.m-gap-28{grid-gap:var(--small-28);} 
.m-gap-29{grid-gap:var(--small-29);} 
.m-gap-30{grid-gap:var(--small-30);} 
.m-gap-31{grid-gap:var(--small-31);} 
.m-gap-32{grid-gap:var(--small-32);} 
.m-gap-33{grid-gap:var(--small-33);} 
.m-gap-34{grid-gap:var(--small-34);} 
.m-gap-35{grid-gap:var(--small-35);} 
.m-gap-36{grid-gap:var(--small-36);} 
.m-gap-37{grid-gap:var(--small-37);} 
.m-gap-38{grid-gap:var(--small-38);} 
.m-gap-39{grid-gap:var(--small-39);} 
.m-gap-40{grid-gap:var(--small-40);} 
.m-gap-41{grid-gap:var(--small-41);} 
.m-gap-42{grid-gap:var(--small-42);} 
.m-gap-43{grid-gap:var(--small-43);} 
.m-gap-44{grid-gap:var(--small-44);} 
.m-gap-45{grid-gap:var(--small-45);} 
.m-gap-46{grid-gap:var(--small-46);} 
.m-gap-47{grid-gap:var(--small-47);} 
.m-gap-48{grid-gap:var(--small-48);} 
.m-gap-49{grid-gap:var(--small-49);} 
.m-gap-50{grid-gap:var(--small-50);} 
}
/** l-row */
@media screen and (min-width:1025px) and (max-width:1280px){ 
.l-gap-0{grid-gap:var(--small-0);}    
.l-gap-2{grid-gap:var(--small-2);} 
.l-gap-3{grid-gap:var(--small-3);} 
.l-gap-4{grid-gap:var(--small-4);} 
.l-gap-5{grid-gap:var(--small-5);} 
.l-gap-6{grid-gap:var(--small-6);} 
.l-gap-7{grid-gap:var(--small-7);} 
.l-gap-8{grid-gap:var(--small-8);} 
.l-gap-9{grid-gap:var(--small-9);} 
.l-gap-10{grid-gap:var(--small-10);} 
.l-gap-11{grid-gap:var(--small-11);} 
.l-gap-12{grid-gap:var(--small-12);} 
.l-gap-13{grid-gap:var(--small-13);} 
.l-gap-14{grid-gap:var(--small-14);} 
.l-gap-15{grid-gap:var(--small-15);} 
.l-gap-16{grid-gap:var(--small-16);} 
.l-gap-17{grid-gap:var(--small-17);} 
.l-gap-18{grid-gap:var(--small-18);} 
.l-gap-19{grid-gap:var(--small-19);} 
.l-gap-20{grid-gap:var(--small-20);} 
.l-gap-21{grid-gap:var(--small-21);} 
.l-gap-22{grid-gap:var(--small-22);} 
.l-gap-23{grid-gap:var(--small-23);} 
.l-gap-24{grid-gap:var(--small-24);} 
.l-gap-25{grid-gap:var(--small-25);} 
.l-gap-26{grid-gap:var(--small-26);} 
.l-gap-27{grid-gap:var(--small-27);} 
.l-gap-28{grid-gap:var(--small-28);} 
.l-gap-29{grid-gap:var(--small-29);} 
.l-gap-30{grid-gap:var(--small-30);} 
.l-gap-31{grid-gap:var(--small-31);} 
.l-gap-32{grid-gap:var(--small-32);} 
.l-gap-33{grid-gap:var(--small-33);} 
.l-gap-34{grid-gap:var(--small-34);} 
.l-gap-35{grid-gap:var(--small-35);} 
.l-gap-36{grid-gap:var(--small-36);} 
.l-gap-37{grid-gap:var(--small-37);} 
.l-gap-38{grid-gap:var(--small-38);} 
.l-gap-39{grid-gap:var(--small-39);} 
.l-gap-40{grid-gap:var(--small-40);} 
.l-gap-41{grid-gap:var(--small-41);} 
.l-gap-42{grid-gap:var(--small-42);} 
.l-gap-43{grid-gap:var(--small-43);} 
.l-gap-44{grid-gap:var(--small-44);} 
.l-gap-45{grid-gap:var(--small-45);} 
.l-gap-46{grid-gap:var(--small-46);} 
.l-gap-47{grid-gap:var(--small-47);} 
.l-gap-48{grid-gap:var(--small-48);} 
.l-gap-49{grid-gap:var(--small-49);} 
.l-gap-50{grid-gap:var(--small-50);} 
}
/** xl-row */
@media screen and (min-width:1281px){  
.xl-gap-0{grid-gap:var(--small-0);}        
.xl-gap-2{grid-gap:var(--small-2);} 
.xl-gap-3{grid-gap:var(--small-3);} 
.xl-gap-4{grid-gap:var(--small-4);} 
.xl-gap-5{grid-gap:var(--small-5);} 
.xl-gap-6{grid-gap:var(--small-6);} 
.xl-gap-7{grid-gap:var(--small-7);} 
.xl-gap-8{grid-gap:var(--small-8);} 
.xl-gap-9{grid-gap:var(--small-9);} 
.xl-gap-10{grid-gap:var(--small-10);} 
.xl-gap-11{grid-gap:var(--small-11);} 
.xl-gap-12{grid-gap:var(--small-12);} 
.xl-gap-13{grid-gap:var(--small-13);} 
.xl-gap-14{grid-gap:var(--small-14);} 
.xl-gap-15{grid-gap:var(--small-15);} 
.xl-gap-16{grid-gap:var(--small-16);} 
.xl-gap-17{grid-gap:var(--small-17);} 
.xl-gap-18{grid-gap:var(--small-18);} 
.xl-gap-19{grid-gap:var(--small-19);} 
.xl-gap-20{grid-gap:var(--small-20);} 
.xl-gap-21{grid-gap:var(--small-21);} 
.xl-gap-22{grid-gap:var(--small-22);} 
.xl-gap-23{grid-gap:var(--small-23);} 
.xl-gap-24{grid-gap:var(--small-24);} 
.xl-gap-25{grid-gap:var(--small-25);} 
.xl-gap-26{grid-gap:var(--small-26);} 
.xl-gap-27{grid-gap:var(--small-27);} 
.xl-gap-28{grid-gap:var(--small-28);} 
.xl-gap-29{grid-gap:var(--small-29);} 
.xl-gap-30{grid-gap:var(--small-30);} 
.xl-gap-31{grid-gap:var(--small-31);} 
.xl-gap-32{grid-gap:var(--small-32);} 
.xl-gap-33{grid-gap:var(--small-33);} 
.xl-gap-34{grid-gap:var(--small-34);} 
.xl-gap-35{grid-gap:var(--small-35);} 
.xl-gap-36{grid-gap:var(--small-36);} 
.xl-gap-37{grid-gap:var(--small-37);} 
.xl-gap-38{grid-gap:var(--small-38);} 
.xl-gap-39{grid-gap:var(--small-39);} 
.xl-gap-40{grid-gap:var(--small-40);} 
.xl-gap-41{grid-gap:var(--small-41);} 
.xl-gap-42{grid-gap:var(--small-42);} 
.xl-gap-43{grid-gap:var(--small-43);} 
.xl-gap-44{grid-gap:var(--small-44);} 
.xl-gap-45{grid-gap:var(--small-45);} 
.xl-gap-46{grid-gap:var(--small-46);} 
.xl-gap-47{grid-gap:var(--small-47);} 
.xl-gap-48{grid-gap:var(--small-48);} 
.xl-gap-49{grid-gap:var(--small-49);} 
.xl-gap-50{grid-gap:var(--small-50);} 
}