:root {
    --color-0:0;
    --color-1:1px;
    --color-2:2px;
    --color-3:4px;
    --color-4:6px;
    --color-5:8px;
    --color-6:10px;
    --color-7:12px;
    --color-8:14px;
    --color-9:16px;
    --color-10:18px;
}