:root {
--big-1:1px;
--big-2:5px;
--big-3:10px;
--big-4:15px;
--big-5:20px;
--big-6:25px;
--big-7:30px;
--big-8:35px;
--big-9:40px;
--big-10:45px;
--big-11:50px;
--big-12:55px;
--big-13:60px;
--big-14:70px;
--big-15:80px;
--big-16:90px;
--big-17:100px;
--big-18:125px;
--big-19:150px;
--big-20:175px;
--big-21:200px;
--big-22:225px;
--big-23:250px;
--big-24:275px;
--big-25:300px;
--big-26:350px;
--big-27:400px;
--big-28:450px;
--big-29:500px;
--big-30:550px;
--big-31:600px;
--big-32:650px;
--big-33:700px;
--big-34:750px;
--big-35:800px;
--big-36:850px;
--big-37:900px;
--big-38:950px;
--big-39:1000px;
--big-40:1050px;
--big-41:1100px;
--big-42:1150px;
--big-43:1200px;
--big-44:1250px;
--big-45:1300px;
--big-46:1350px;
--big-47:1400px;
--big-48:1450px;
--big-49:1500px;
--big-50:1550px;
}