:root {
--small-0:0;
--small-1:1px;
--small-2:2px;
--small-3:4px;
--small-4:6px;
--small-5:8px;
--small-6:10px;
--small-7:12px;
--small-8:14px;
--small-9:16px;
--small-10:18px;
--small-11:20px;
--small-12:24px;
--small-13:28px;
--small-14:32px;
--small-15:36px;
--small-16:40px;
--small-17:44px;
--small-18:48px;
--small-19:52px;
--small-20:56px;
--small-21:60px;
--small-22:66px;
--small-23:72px;
--small-24:78px;
--small-25:84px;
--small-26:90px;
--small-27:96px;
--small-28:102px;
--small-29:108px;
--small-30:114px;
--small-31: 120px;
--small-32: 128px;
--small-33: 136px;
--small-34: 144px;
--small-35: 152px;
--small-36: 160px;
--small-37: 168px;
--small-38: 176px;
--small-39: 184px;
--small-40: 192px;
--small-41: 202px;
--small-42: 212px;
--small-43: 222px;
--small-44: 232px;
--small-45: 242px;
--small-46: 252px;
--small-47: 262px;
--small-48: 272px;
--small-49: 282px;
--small-50: 300px;
}