
.top-0{top: var(--small-0);}
.top-2{top: var(--small-2);}
.top-3{top: var(--small-3);}
.top-4{top: var(--small-4);}
.top-5{top: var(--small-5);}
.top-6{top: var(--small-6);}
.top-7{top: var(--small-7);}
.top-8{top: var(--small-8);}
.top-9{top: var(--small-9);}
.top-10{top: var(--small-10);}
.top-11{top: var(--small-11);}
.top-12{top: var(--small-12);}
.top-13{top: var(--small-13);}
.top-14{top: var(--small-14);}
.top-15{top: var(--small-15);}
.top-16{top: var(--small-16);}
.top-17{top: var(--small-17);}
.top-18{top: var(--small-18);}
.top-19{top: var(--small-19);}
.top-20{top: var(--small-20);}
.top-21{top: var(--small-21);}
.top-22{top: var(--small-22);}
.top-23{top: var(--small-23);}
.top-24{top: var(--small-24);}
.top-25{top: var(--small-25);}
.top-26{top: var(--small-26);}
.top-27{top: var(--small-27);}
.top-28{top: var(--small-28);}
.top-29{top: var(--small-29);}
.top-30{top: var(--small-30);}
.top-31{top: var(--small-31);}
.top-32{top: var(--small-32);}
.top-33{top: var(--small-33);}
.top-34{top: var(--small-34);}
.top-35{top: var(--small-35);}
.top-36{top: var(--small-36);}
.top-37{top: var(--small-37);}
.top-38{top: var(--small-38);}
.top-39{top: var(--small-39);}
.top-40{top: var(--small-40);}
.top-41{top: var(--small-41);}
.top-42{top: var(--small-42);}
.top-43{top: var(--small-43);}
.top-44{top: var(--small-44);}
.top-45{top: var(--small-45);}
.top-46{top: var(--small-46);}
.top-48{top: var(--small-48);}
.top-49{top: var(--small-49);}
.top-50{top: var(--small-50);}